<title>Blackjack Glossary – Online Blackjack Dictionary, Slang & Lingo</title>
<meta name="description" content="Blackjack glossary. Understand the meaning of common online blackjack lingo with these terms & definitions. Learn the blackjack jargon you need to know here."> 
<meta name="keywords" content="Blackjack Glossary"> 
<meta name="robots" content="Index,follow" />


<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Blackjack Glossary of Terms & Phrases</h1>

                        <p><img src="https://imgix.cosmicjs.com/276b6360-25aa-11ec-a33b-09138673c894-64x64-blackjack-glossary.png" alt="Latest Blackjack Dictionary " title="Latest Blackjack Dictionary " class="right-image" width="111" height="111">Like with the majority
                            of online gambling games, blackjack comes with its unique language and phrases. We have compiled a list of the most common <strong>blackjack glossary</strong> terms. We did this to help players interested in learning to play blackjack online but do not
                            know where to start. Whether you are new to the game or experienced, understanding the jargon of blackjack will help you navigate your way around the table with ease. Learn more about the jargon heard at blackjack tables through our <em>blackjack terms</em>page
                            below.
                            </p>
                            <h2>Blackjack Dictionary</h2>
                            <p><strong>Bankroll</strong>: This is the amount of money a player has set aside for a game of blackjack. How large or small a player&rsquo;s bankroll is will also determine the style and aggression of the game. Being able to manage one&rsquo;s bankroll
                            is extremely important for online blackjack players.</p>
                            <p><strong>Blackjack Hand</strong>: The best possible winning hand in a game of blackjack is known as a blackjack hand. It consists of two cards, an Ace and a card that has a value of 10. A natural blackjack hand is only achievable from the initial first
                            two cards dealt.</p>
                            <p><strong>Blackjack Strategy</strong>: A basic blackjack strategy will help players with the technical knowledge and skills needed for the game.</p>
                            <p><strong>Bet</strong>: The amount of money that a player wagers on a hand in a game of blackjack.</p>
                            <p><strong>Bet Spread</strong>: Also known as Betting Limits. This term refers to the minimum and maximum amounts a player can wager at a blackjack table.</p>
                            <p><strong>Bust</strong>: Refers to a hand that has a value over 21 and results in an automatic loss.</p>
                            <p><strong>Bust Card</strong>: This is the card that takes the player&rsquo;s hand&rsquo;s value over 21 which results in a bust.</p>
                            <p><strong>Card Counting</strong>: Refers to a system that is designed to help players win at blackjack. This system usually involves memorizing the cards that have been played in order to have a more accurate idea what the odds of the game are.</p>
                            <p><strong>Card Sharp</strong>: Refers to a professional blackjack player or professional card game player.</p>
                            <p><strong>Cut</strong>: This refers to the deck of cards being split once it has been shuffled.</p>
                            <p><strong>Cut Card</strong>: A coloured plastic card that is used as a tool to cut the deck once it has been shuffled.</p>
                            <p><strong>Chips</strong>: Also known as casino tokens. These are plastic discs that are used as a currency, usually used for wagering on table games at casinos.</p>
                            <p><strong>Dealer</strong>: Refers to the person who deals the cards during a game of blackjack. When playing blackjack online, the dealer will normally be invisible.</p>
                            <p><strong>Double Down</strong>: Refers to a move available to the player in blackjack. When a player chooses to double down, they place an additional bet that is equivalent to their original bet and will then be dealt one additional card. This move is only
                            available after the first two cards have been dealt.</p>
                            <p><strong>Edge</strong>: Refers to the percentage advantage that the house or casino has over the player.</p>
                            <p><strong>Exposed</strong>: Refers to a card that is face up and whose value is made visible to all players.</p>
                            <p><strong>Face Cards</strong>: This term refers to Jacks, Queens, and Kings in a deck of cards. There are 12 face cards in a standard 52 deck of cards.</p>
                            <p><strong>Hard Hand</strong>: Also known as Hard Total. Refers to a hand that does not include an Ace card.</p>
                            <p><strong>Hit</strong>: The act or action available to a player whereby the player requests another card from the dealer.</p>
                            <p><strong>Hole Card</strong>: Refers to the dealer&rsquo;s card that is face down and whose value remains unknown until all the other hands have been completed.</p>
                            <p><strong>Insurance</strong>: A player can ask for insurance when he/she feels that the dealer may be close to achieving a blackjack. This is a side bet that the player can make and is half the value of the original wager made by the player. If the dealer
                            does have a blackjack, then the player will receive both the original bet and the side bet. A player will usually take insurance when the dealer&rsquo;s face up card is an Ace.</p>
                            <p><strong>Martingale System</strong>: This is a popular betting system originating from 18th Century France. It encourages players to double their bets after each loss so that the player ultimately recovers all their losses.</p>
                            <p><strong>Natural</strong>: This is another term used for a blackjack hand. The hand consists of an Ace and a face card from the original two cards dealt.</p>
                            <p><strong>Pair</strong>: Refers to a hand that is made up of two cards that are of equal value.</p>
                            <p><strong>Push</strong>: This is a tie between the player and the dealer where both their hands have the same total value.</p>
                            <p><strong>Shoe</strong>: A device used to store the cards that have not yet been dealt in a game of blackjack.</p>
                            <p><strong>Soft Hand</strong>: This is a blackjack hand that includes an Ace. The ace gives a blackjack hand 2 variables are it can be counted as 1 or 11.</p>
                            <p><strong>Split</strong>: This is an option available to a player when they have two cards of equal value. The player is allowed to split this hand and place the same bet on each hand while playing them separately.</p>
                            <p><strong>Standing</strong>: This option means that the player takes no more cards until the last hand has been played out.</p>
                            <p><strong>Surrender</strong>: This option allows the player to cut his/her losses with a bad hand. It gives the player the option to quit a game and receive only half of their original bet.</p>
                            <h2>Related USA Blackjack Pages</h2>
                            <ul class="buttonsContainer">
                            <li class="ColButtons"><a class="buttons" href="/online-blackjack">Online Blackjack</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-blackjack/how-to-play-blackjack">How to Play Blackjack</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-blackjack/blackjack-rules">Blackjack Rules</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-blackjack/blackjack-tips">Blackjack Tips</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-blackjack/win-at-blackjack">Win at<br>Blackjack</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-blackjack/card-counting">Blackjack Card Counting</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-blackjack/blackjack-strategy">Online Blackjack Strategy</a></li>
                            </ul>

                        
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

