<title>Bomber Girls Slot Review - Jackpot, RTP & Game Info [Microgaming]</title>
<meta name="description" content="Bomber Girls is an exciting war theme slot from Microgaming. There are 5 reels & 20 paylines. Read our review to find out more about the bonuses and payouts!"> 
<meta name="keywords" content="Bomber Girls Slot Review"> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Bomber Girls Slot Review - Features & Symbols Explained</h1>

                        <p><strong>Bomber Girls</strong> is an ultra-fun 5-reel slot game packed with curvy beauties, free spins, and bonus rounds. This world-war II inspired slot has 20 paylines where all the action takes place. Sexy female fighter pilots take you on a wild ride
                            in the name of defending truth, justice, and the American way. They are as tough as any man but much sexier in their military uniforms and leather jackets fit for Fighter Jet Queens. Read our review of the <em>Bomber Girls</em> slot game to find all the
                            information on bonus features and symbols. &nbsp;</p>
                            <p><img src="https://imgix.cosmicjs.com/e7086580-2391-11ec-a33b-09138673c894-600x450-free-spins-bonus.jpg" alt="bomber girls slot review" title="Bomber Girls Free Spins Bonus" width="600" height="450" class="aligncenter size-full wp-image-4187 fr-fic fr-dii"></p>
                            <table
                            id="customers">
                            <tbody>
                            <tr>
                            <td colspan="2" width="601">Game Information
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Software: Microgaming
                            <br>
                            </td>
                            <td width="301">Maximum Coins: 200
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Reels: 5
                            <br>
                            </td>
                            <td width="301">Maximum Bet: 100.00
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Paylines: 20
                            <br>
                            </td>
                            <td width="301">Minimum Bet: 0.01
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Multiplier Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Player Level: Beginner, Intermediate, Expert
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Wild Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Progressive: No
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Maximum Jackpot: 50 000 Coins in the Base Game
                            <br>
                            </td>
                            <td width="301">Free Spins: Yes
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Scatter Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Number of Free Spins: Up to 14
                            <br>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <h2>Bomber Girls Features</h2>
                            <p>There is plenty to keep yourself entertained with the Bomber Girls slot machine. The war-theme slot is represented with authentic sound effects and symbols. There are also some real special effects that will let you win some serious real money payouts!</p>
                            <h3>Free Spins</h3>
                            <p>Landing at least three compass symbols on the middle 3 reels will activate the free spins. The first two compasses are added together to get the number of free spins you will get, and the third compass will indicate the multiplier win amount. There are
                            up to 14 free spins you can get with a multiplier worth up to 3 times your bet.</p>
                            <h3>High-Low Bonus Game</h3>
                            <p>The High-Low Bonus activates when you land bonus symbols on the outer reels simultaneously. In this bonus, one card will be displayed to you face-up, and four cards face down. The aim will be to predict whether the next card is either higher or lower
                            than the previous one.</p>
                            <h3>Double Up Bonus Feature</h3>
                            <p>This bonus activates when you guess all four cards correctly during the high-low bonus round. In this bonus, you will receive 2 cards face-down. You will have the choice to either collect, bet half or all of your bonus winnings for a chance to double
                            your payout. The aim will be to guess one last time whether the second card will be higher or lower than the first one.</p>
                            <h2>Bomber Girls Slot Symbols</h2>
                            <p>The girls steal the show with their good looks, but there are other symbols on the reels that payout just as generously.</p>
                            <ul>
                            <li>Bomber Plane</li>
                            <li>Bomb</li>
                            <li>Pilot Goggles</li>
                            </ul>
                            <h3>Bomber Girls Logo</h3>
                            <p><img src="https://imgix.cosmicjs.com/e6a13f40-2391-11ec-a33b-09138673c894-100x100-bomber-girls-wild.png" alt="Wild Symbol" title="Wild Symbol" width="100" height="100" class="alignleft size-full wp-image-4186 fr-fic fr-dii fr-fir">The Bomber Girl symbol
                            will give you the game&rsquo;s highest payout when you land five of them on an active payline. It also represents the game&rsquo;s wild symbol and can substitute for all of the girls on the reels to form winning combinations. Any win with the wild present
                            will earn you a double payout.</p>
                            <h3>Compass</h3>
                            <p><img src="https://imgix.cosmicjs.com/e6d3e800-2391-11ec-a33b-09138673c894-100x100-compass-scatter.png" alt="Scatter Symbol" title="Scatter Symbol" width="100" height="100" class="alignleft size-full wp-image-4185 fr-fic fr-dii fr-fir">The compass is the
                            game&rsquo;s scatter symbol, and only appears on reels 2, 3, and 4. These symbols are what you need to land to trigger the free spins bonus.</p>
                            <h3 style="margin-top: 70px;">Bonus Symbol</h3>
                            <p><img src="https://imgix.cosmicjs.com/e6d48440-2391-11ec-a33b-09138673c894-100x100-bonus-symbol.png" alt="Bonus Symbol" title="Bonus Symbol" width="100" height="100" class="alignleft size-full wp-image-4184 fr-fic fr-dii fr-fir">The bonus symbol has a
                            whiskey glass with playing cards and chips. Land this icon on reels one and five together to trigger the high-low bonus. If you manage to guess all four of those cards correctly, it will open the second bonus round, where you have a chance to increase
                            your winnings even more!</p>
                            <h2>Bomber Girls Final Verdict</h2>
                            <p>Bomber Girls offers a fun and enjoyable casino game experience! The bomber girls may steal the show with their good looks, but you can steal it with the big wins up for grabs! With a maximum jackpot win of 75 000.00 in the base game and 10 000.00 in the
                            second-screen bonus game jackpot, you can be a high-flying, faster than you can say &ldquo;Atta Girl!&rdquo;</p>
                            <h2>Try Microgaming Slots</h2>
                            <ul>
                            <li><a href="/microgaming/adventure-palace">Adventure Palace</a></li>
                            <li><a href="/microgaming/agent-jane-blonde">Agent Jane Blonde</a></li>
                            <li><a href="/microgaming/age-of-discovery">Age of Discovery</a></li>
                            <li><a href="/microgaming/alaskan-fishing">Alaskan Fishing</a></li>
                            <li><a href="/microgaming/alley-cats">Alley Cats</a></li>
                            <li><a href="/microgaming/arctic-fortune">Arctic Fortune</a></li>
                            <li><a href="/microgaming/ariana">Ariana</a></li>
                            <li><a href="/microgaming/asian-beauty">Asian Beauty</a></li>
                            <li><a href="/microgaming/avalon">Avalon</a></li>
                            <li><a href="/microgaming/bars-and-stripes">Bars and Stripes</a></li>
                            <li><a href="/microgaming/beach-babes">Beach Babes</a></li>
                            <li><a href="/microgaming/bearly-fishing">Bearly Fishing</a></li>
                            <li><a href="/microgaming/boogie-monsters">Boogie Monsters</a></li>
                            <li><a href="/microgaming/break-da-bank-again">Break da Bank Again</a></li>
                            <li><a href="/microgaming/buffet-bonanza">Buffet Bonanza</a></li>
                            <li><a href="/microgaming/bush-telegraph">Bush Telegraph</a></li>
                            <li><a href="/microgaming/cabin-fever">Cabin Fever</a></li>
                            <li><a href="/microgaming/captain-cash">Captain Cash</a></li>
                            <li><a href="/microgaming/doctor-love">Doctor Love</a></li>
                            <li><a href="/microgaming/exotic-cats">Exotic Cats</a></li>
                            <li><a href="/microgaming/fat-lady-sings">Fat Lady Sings</a></li>
                            <li><a href="/microgaming/fortunium">Fortunium</a></li>
                            <li><a href="/microgaming/mega-moolah">Mega Moolah</a></li>
                            <li><a href="/microgaming/playboy-gold">Playboy Gold</a></li>
                            <li><a href="/microgaming/rainbrew">Rainbrew</a></li>
                            <li><a href="/microgaming/wild-scarabs">Wild Scarabs</a></li>
                            </ul>

                        
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

