<title> </title>
<meta name="description" content=" "> 
<meta name="keywords" content=" "> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Doctor Love Slot Review</h1>
                        <p>Explore the <strong>Doctor Love</strong> 5 reel slot game. Set inside a hospital. This doctor will cook up the love potions you need to win big! &nbsp;The slot has 5 reels, 20 paylines, and some very exciting features that will see you win exceptional
                            payouts. The doctor is a zany character, but he has ladies swooning at his smile, charmed by his charisma. It takes more than an apple a day to keep this doctor away! Read our full <em>Doctor Love slot</em> game for information on all of the bonuses and
                            symbols.</p>
                            <p><img class="aligncenter wp-image-886 fr-fic fr-dii" src="https://imgix.cosmicjs.com/edf81e90-238b-11ec-a33b-09138673c894-300x220-doctor-love-microgaming-base-game.jpg" alt="Doctor Love Slot Guide" title="Doctor Love Slot Guide" width="300" height="220"></p>
                            <table
                            id="customers">
                            <tbody>
                            <tr>
                            <td colspan="2" width="601">Game Information
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Software: Microgaming
                            <br>
                            </td>
                            <td width="301">Maximum Coins: 20
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Reels: 5
                            <br>
                            </td>
                            <td width="301">Maximum Bet: 40.00
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Paylines: 20
                            <br>
                            </td>
                            <td width="301">Minimum Bet: 0.01
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Multiplier Symbol: No
                            <br>
                            </td>
                            <td width="301">Player Level: Beginner, Intermediate, Expert
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Wild Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Progressive: No
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Maximum Jackpot: 10,000 Credits
                            <br>
                            </td>
                            <td width="301">Free Spins: Yes
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Scatter Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Number of Free Spins: 10 &ndash; 20
                            <br>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <p>&nbsp;</p>
                            <h2>Features</h2>
                            <p>Dr. Love is a five-reel slot with a comical Zany hospital theme. The bright and funky animations will have frequent hits. Some great bonus features will earn you extra payouts.</p>
                            <h3>Free Spins</h3>
                            <p>You can win 10, 15, or 20 Free Spins when you land 3, 4, or 5 scattered Love Meters on the reels. The free spins feature can be re-triggered, which gives you increased opportunities to earn some brownie points with the Doctor of Love.&nbsp;All wins from
                            a free spin will also come with a triple payout.</p>
                            <h3>Gamble Feature</h3>
                            <p>Dr. Love also has a gamble feature. With every win, you will have a chance to gamble your winnings to even larger amounts. In the feature, you will have to correctly guess the next card&#39;s color in the pack to double your winnings. If you want to quadruple
                            your winnings, you will need to guess the card&#39;s suit correctly.</p>
                            <h2>Symbols</h2>
                            <p>The game has 10 symbols that you can land on the reels for a payout; of the standard icons, the most valuable one is the nurse who to pays as much as 1,500-coins.</p>
                            <ul>
                            <li>Waste Bin</li>
                            <li>Stethoscope</li>
                            <li>Pair of Crutches,</li>
                            <li>Chart</li>
                            <li>Stopwatch</li>
                            <li>Bouquet</li>
                            <li>An Ambulance</li>
                            <li>Blue Teddy Bear</li>
                            <li>Sick Patient</li>
                            <li>Nurse</li>
                            </ul>
                            <h3>Dr. Love</h3>
                            <p>Dr. Love himself is the wild symbol. He can replace all other symbols on the reels except for the love meter scatter.</p>
                            <h3>Love Meter</h3>
                            <p>The Love Meter icon is the scatter symbol. It can pay in any direction and pays out a maximum of 100-coins. Landing at least three scatters will also trigger the free spins rounds.</p>
                            <h2>Why Play Doctor Love?</h2>
                            <p>Doctor Love has a pink background and includes images like flowers and teddy bears. Everything about this online slot screams cuteness. The Doctor Love <a href="/online-slots">online slot</a> is available to play at top online Microgaming casinos.</p>
                            <h2>Microgaming Slots</h2>
                            <ul>
                            <li><a href="/microgaming/adventure-palace">Adventure Palace</a></li>
                            <li><a href="/microgaming/agent-jane-blonde">Agent Jane Blonde</a></li>
                            <li><a href="/microgaming/age-of-discovery">Age of Discovery</a></li>
                            <li><a href="/microgaming/alaskan-fishing">Alaskan Fishing</a></li>
                            <li><a href="/microgaming/alley-cats">Alley Cats</a></li>
                            <li><a href="/microgaming/arctic-fortune">Arctic Fortune</a></li>
                            <li><a href="/microgaming/ariana">Ariana</a></li>
                            <li><a href="/microgaming/asian-beauty">Asian Beauty</a></li>
                            <li><a href="/microgaming/avalon">Avalon</a></li>
                            <li><a href="/microgaming/bars-and-stripes">Bars &amp; Stripes</a></li>
                            <li><a href="/microgaming/beach-babes">Beach Babes</a></li>
                            <li><a href="/microgaming/bearly-fishing">Bearly Fishing</a></li>
                            <li><a href="/microgaming/bomber-girls">Bomber Girls</a></li>
                            <li><a href="/microgaming/boogie-monsters">Boogie Monsters</a></li>
                            <li><a href="/microgaming/buffet-bonanza">Buffet Bonanza</a></li>
                            <li><a href="/microgaming/captain-cash">Captain Cash</a></li>
                            <li><a href="/microgaming/exotic-cats">Exotic Cats</a></li>
                            <li><a href="/microgaming/fat-lady-sings">Fat Lady Sings</a></li>
                            <li><a href="/microgaming/fortunium">Fortunium</a></li>
                            <li><a href="/microgaming/mega-moolah">Mega Moolah</a></li>
                            <li><a href="/microgaming/rainbrew">Rainbrew</a></li>
                            <li><a href="/microgaming/playboy-gold">Playboy Gold</a></li>
                            <li><a href="/microgaming/wild-scarabs">Wild Scarabs</a></li>
                            </ul>

                        
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

