<title>Cabin Fever Slot Review - Jackpot, RTP & Game Info [Microgaming]</title>
<meta name="description" content="Cabin Fever hosts a family of bears locked in a tiny cabin for winter. The slot features 5-reels, 20 paylines, scatters, wilds, multipliers, and more!"> 
<meta name="keywords" content="Cabin Fever Slot Review"> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Cabin Fever Slot Review</h1>

                        <p>Cabin Fever is a cool icy slot game from the developers of Microgaming. With the days getting colder and the nights getting longer, it&rsquo;s time to snuggle up in a log cabin and play Cabin Fever. The game features 5 reels 20 paylines and an abundance
                            of winning features, including wilds, scatters, and free spins. The maximum bonus jackpot of 50,000.00 is sure to warm your heart and defrost your wallet. Read our full review to melt the icy bonus features and symbols for heart-warming wins!</p>
                            <p><img src="https://imgix.cosmicjs.com/c6d53d60-238c-11ec-a33b-09138673c894-713x413-cabin-fever-slot-review.png" alt="Cabin Fever Slot" title="Cabin Fever Slot" width="713" height="413" class="aligncenter size-full wp-image-4271 fr-fic fr-dii"></p>
                            <table
                            id="customers">
                            <tbody>
                            <tr>
                            <td colspan="2" width="601">Game Information
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">software: Microgaming
                            <br>
                            </td>
                            <td width="301">Maximum Coins: 150
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Reels: 5
                            <br>
                            </td>
                            <td width="301">Maximum Bet: 100.00
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Paylines: 20
                            <br>
                            </td>
                            <td width="301">Minimum Bet: 0.01
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Multiplier Symbol; Yes
                            <br>
                            </td>
                            <td width="301">Player Level: Beginner, Intermediate, Expert
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Wild Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Progressive: No
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Maximum Jackpot: 50 000 Coins in the Base Game
                            <br>
                            </td>
                            <td width="301">Free Spins: Yes
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Scatter Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Number of Free Spins: 20
                            <br>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <p>&nbsp;</p>
                            <h2>Cabin Fever Features</h2>
                            <p>Cabin Fever is a 5-reel, 20 paylines, 10-coin game with wilds, scatters, and great bonus rounds.</p>
                            <h3>Free Spins</h3>
                            <p>When the Sun icon appears on reels 1 and 5, you will activate the free spins round. You will receive 20 free spins, and all wins will have a double payout. The free spins feature can be re-triggered. All bets and paylines will remain the same as at the
                            start of the free spins round.</p>
                            <h3>Gamble Feature</h3>
                            <p>Unlock the gamble feature with any winning combination. Click the gable button to activate the feature. You will be presented with one face down card where you will have to guess Red or Black. Guess the color correctly, and you double your winnings. You
                            can keep guessing correctly until the gamble limit is reached. You want to leave the bonus round; you can collect your winnings and return to the game.</p>
                            <h2>Symbols</h2>
                            <p>All the snow covered symbols suit the theme of the game. The high paying symbols are made up of the bear family, and the fruit icons are the low paying symbols. Below are the icons you will find and the maximum payout for each when you place the max bet.</p>
                            <ul>
                            <li>Daddy Bear &ndash; 300-coins</li>
                            <li>Mamma Bear &ndash; 250-coins</li>
                            <li>Young Bears &ndash; 250-coins</li>
                            <li>Baby Bear &ndash; 200-coins</li>
                            <li>Oranges &ndash; 150-coins</li>
                            <li>Watermelon &ndash; 120-coins</li>
                            <li>Lemons &ndash; 100-coins</li>
                            <li>Plum &ndash; 100-coins</li>
                            <li>Cherries &ndash; 60-coins</li>
                            </ul>
                            <h3>Wild</h3>
                            <p><img src="https://imgix.cosmicjs.com/112e7160-238d-11ec-a33b-09138673c894-100x100-cabin-fever-wild.png" alt="Cabin Fever Wild" title="Cabin Fever Wild" width="100" height="100" class="alignleft size-full wp-image-4270 fr-fic fr-dii fr-fir">The wild logo
                            is the game&rsquo;s wild symbol that can substitute for all other icons on the reels to help form a winning combination. However, the wild cannot replace a scatter or trigger symbol. The highest payout for landing 5 wild symbols on an active payline is
                            5,000-coins when you wager the maximum. &nbsp;</p>
                            <h3 style="margin-top: 30px;">Squirrel</h3>
                            <p><img src="https://imgix.cosmicjs.com/10ff4b10-238d-11ec-a33b-09138673c894-100x100-cabin-fever-scatter.png" alt="Cabin Fever Scatter" title="Cabin Fever Scatter" width="100" height="100" class="alignleft size-full wp-image-4273 fr-fic fr-dii fr-fir">The
                            Squirrel icon in the game is the scatter symbol. This scatter will reward you 200-coins when five of them appear anywhere on the reels. They also award multiplied payouts, and all wins are added to payline wins. &nbsp;</p>
                            <h3 style="margin-top: 50px;">Sun</h3>
                            <p><img src="https://imgix.cosmicjs.com/112dfc30-238d-11ec-a33b-09138673c894-100x100-cabin-fever-sun.png" alt="Cabin Fever Sun Symbol" title="Cabin Fever Sun Symbol" width="100" height="100" class="alignleft size-full wp-image-4272 fr-fic fr-dii fr-fir">The
                            sun symbol represents the trigger symbol. When the sun shines on reels 1 and 5, it will trigger 20 free spins.</p>
                            <h2 style="margin-top: 70px;">Why Play Cabin Fever?</h2>
                            <p>Who says you need summer to have some fun? <a href="/microgaming">Microgaming&trade;</a> is taking the fun indoors this winter, so snuggle up by the fireplace and hook up your laptop and start playing! Find this classic slot game in the gaming portfolio
                            of the best Microgaming online casinos.</p>
                            <h2>Related Microgaming Slots</h2>
                            <ul>
                            <li><a href="/microgaming/adventure-palace">Adventure Palace</a></li>
                            <li><a href="/microgaming/agent-jane-blonde">Agent Jane Blonde</a></li>
                            <li><a href="/microgaming/age-of-discovery">Age of Discovery</a></li>
                            <li><a href="/microgaming/alaskan-fishing">Alaskan Fishing</a></li>
                            <li><a href="/microgaming/alley-cats">Alley Cats</a></li>
                            <li><a href="/microgaming/arctic-fortune">Arctic Fortune</a></li>
                            <li><a href="/microgaming/ariana">Ariana</a></li>
                            <li><a href="/microgaming/asian-beauty">Asian Beauty</a></li>
                            <li><a href="/microgaming/avalon">Avalon</a></li>
                            <li><a href="/microgaming/bars-and-stripes">Bars and Stripes</a></li>
                            <li><a href="/microgaming/beach-babes">Beach Babes</a></li>
                            <li><a href="/microgaming/bearly-fishing">Bearly Fishing</a></li>
                            <li><a href="/microgaming/bomber-girls">Bomber Girls</a></li>
                            <li><a href="/microgaming/boogie-monsters">Boogie Monsters</a></li>
                            <li><a href="/microgaming/break-da-bank-again">Break da Bank Again</a></li>
                            <li><a href="/microgaming/buffet-bonanza">Buffet Bonanza</a></li>
                            <li><a href="/microgaming/bush-telegraph">Bush Telegraph</a></li>
                            <li><a href="/microgaming/captain-cash">Captain Cash</a></li>
                            <li><a href="/microgaming/doctor-love">Doctor Love</a></li>
                            <li><a href="/microgaming/exotic-cats">Exotic Cats</a></li>
                            <li><a href="/microgaming/fat-lady-sings">Fat Lady Sings</a></li>
                            <li><a href="/microgaming/fortunium">Fortunium</a></li>
                            <li><a href="/microgaming/mega-moolah">Mega Moolah</a></li>
                            <li><a href="/microgaming/playboy-gold">Playboy Gold</a></li>
                            <li><a href="/microgaming/rainbrew">Rainbrew</a></li>
                            <li><a href="/microgaming/wild-scarabs">Wild Scarabs</a></li>
                            </ul>

                        
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

