<title>Gambling in Delaware - Delaware Online Casinos & Gambling Laws</title>
<meta name="description" content="Do you want to gamble in Delaware? Find out everything about gambling in Delaware, including how the state of Delaware defines gambling with this guide."> 
<meta name="keywords" content=""> 
<meta name="robots" content="Index,follow" />


<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Gambling in Delaware</h1>

                        <div class="mp">
                            <p><img src="https://imgix.cosmicjs.com/a134f4c0-21f1-11ec-a33b-09138673c894-gambling-laws-in-delaware.jpg" alt="Gambling laws in delaware" title="Gambling laws in delaware" width="150" height="150" class="right-image">Delaware allows land-based
                            and online gambling in 2022. Almost every type of betting and games of chance is legal and regulated in the state. This includes, but is not limited to, casino games like slots, blackjack, roulette, video poker, casino games online, horse racing, charitable
                            gambling, lottery, and sports betting. This wide range of casino gaming available means that Delaware can compete with other major gambling states.</p>
                            <h2>Best Gambling Sites to Play Online</h2>
                            <app-main-table></app-main-table>
                            <h2>Delaware Gambling Laws</h2>
                            <ul>
                            <li>The state legislature approved addition of table games in 2010.</li>
                            <li>The Horse Racing Preservation Act was legalized in 1994, which allowed racetracks to add slot machines to the premises.</li>
                            <li>Delaware allows recognized charities to offer Texas Hold&rsquo;Em poker games, bingo, and raffles.</li>
                            <li>If charities want to offer other types of gambling, 100% of the proceeds must go towards the stated charity.</li>
                            <li>In 1937, the para-mutuel industry was legalized in Delaware as the first form of legal gambling. The state then offered harness and thoroughbred racing.</li>
                            </ul>
                            <h2>Sport Betting in Delaware State</h2>
                            <p>Sports betting in Delaware is exempt from Professional and Amateur Sports Protection Act (PASPA) of 1992. This act bans sports betting on a federal level, but Delaware was considered exempt as they offered sports gambling prior to the act being implemented.
                            Delaware state is limited to offering only 3-team parlays on NFL games.</p>
                            <h2>Social Gambling Laws in Delaware</h2>
                            <p>There&rsquo;s no evidence of the law busting home poker games unless they follow specific laws related to social gambling. A legal precedent was set by two cases - State vs. Titlemen (1918) and State vs. Panaro (1910) &ndash; where is was determined that
                            these games did not break any laws related to social gambling in Delaware. Social gambling and home poker games are safe from the law as long as they do not collect rake from games, offer sports betting, and pay topless waitresses to serve alcohol.</p>
                            <h2>Online Gambling in Delaware</h2>
                            <p>Delaware is one of three states in America that offers regulated, legal online gambling. Online casinos were signed into effect in 2012, and is overseen by the lottery. 888 Holdings and Scientific Games provides the software for the iGaming industry in
                            Delaware. Offshore casinos, poker rooms, and sportsbooks are prohibited in the state.</p>
                            <h2>Types of Gambling in Delaware</h2>
                            <p>Players can legally enjoy every type of gambling game in the state of Delaware. This includes off-track betting on horse races.</p>
                            <h3>Legal Gambling Games</h3>
                            <ul>
                            <li>Casino games &ndash; Yes, players can enjoy a large selection of casino games including: slots, roulette, and video poker.</li>
                            <li>Poker &ndash; Yes, poker is legal in Delaware. The Delaware poker network also connects to the WSOP in Nevada.</li>
                            <li>State lotteries &ndash; Yes, players can enjoy a number of different lottery games in the state.</li>
                            <li>Horse racing &ndash; Yes, players can choose from a number of different horse races to bet on.</li>
                            </ul>
                            <h2>Best Casino to Gamble at in Delaware</h2>
                            <table id="customers">
                            <thead>
                            <tr>
                            <th width="312">Casinos</th>
                            <th width="312">Games</th>
                            <th width="312">Other Services</th>
                            <th width="312">Contact</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <td width="312">Delaware Park and Casino
                            <br>
                            </td>
                            <td width="312">
                            <ul>
                            <li>Poker</li>
                            <li>Horse races</li>
                            <li>Slots</li>
                            <li>Table games</li>
                            </ul>
                            </td>
                            <td width="312">
                            <ul>
                            <li>Restaurants</li>
                            <li>Live entertainment</li>
                            </ul>
                            </td>
                            <td width="312">777 Delaware Park Blvd, Wilmington, DE 19808, USA</td>
                            </tr>
                            <tr>
                            <td width="312">Dover Downs Hotel &amp; Casino
                            <br>
                            </td>
                            <td>
                            <ul>
                            <li>Poker</li>
                            <li>Horse races</li>
                            <li>Slots</li>
                            <li>Table games</li>
                            </ul>
                            </td>
                            <td width="312">
                            <ul>
                            <li>Restaurants</li>
                            <li>Spa</li>
                            <li>Shops</li>
                            </ul>
                            </td>
                            <td width="312">1131 N Dupont Hwy, Dover, DE 19901, USA</td>
                            </tr>
                            <tr>
                            <td width="312">Harrington Raceway and Casino
                            <br>
                            </td>
                            <td width="312">
                            <ul>
                            <li>Poker</li>
                            <li>Horse races</li>
                            <li>Slots</li>
                            <li>Table games</li>
                            </ul>
                            </td>
                            <td width="312">
                            <ul>
                            <li>Restaurants</li>
                            <li>Bars</li>
                            </ul>
                            </td>
                            <td width="312">18500 S Dupont Hwy, Harrington, DE 19952
                            <br>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <h2>Lottery in Delaware</h2>
                            <p>The lottery was legalized in 1974, and introduced the game Diamond Instant Dollars in 1976. The lottery covers games of chance like Pick 3, Pick 4, scratch cards, Hot Lotto, Lucky for Life, Mega Millions, and the popular Powerball. The Delaware lottery
                            makes up the majority of the gaming revenue the state collects. This amounts to up to $450 million per year. An estimated $135 million goes towards school funding, health, social, and environmental services, and public safety initiatives.</p>
                            <h3>Delaware Lottery Winners in 2020</h3>
                            <p>Since the start of 2020, the Delaware lottery has already made several big winners. These are some of the big winners in Delaware for 2020 so far before taxes:</p>
                            <ul>
                            <li>$20,000 20X The Money Ticket</li>
                            <li>$25,000 MONEY MAYHEM Instant Game ticket.</li>
                            <li>$50,000 Ca$h IN Instant Game</li>
                            <li>$50,007 Powerball</li>
                            <li>$100,000 Cash Glitter Instant Game Ticket</li>
                            <li>$150,000 Instant Game $150,000 Fortune</li>
                            </ul>
                            <h2>People Also Ask &ndash; Gambling in Delaware FAQs</h2>
                            <div id="wrapper">
                            <details>
                            <summary>Is gambling legal in Delaware?&nbsp;</summary>
                            <p>Delaware state offers players sports betting and online gambling. Delaware prohibits fantasy sports, dog racing, and tribal gaming.</p>
                            </details>
                            <details>
                            <summary>Does Delaware have casinos?</summary>
                            <p>The state of Delaware has three casinos - Dover Downs, Delaware Park, and Harrington Raceway &ndash; and each location has an online casino under the same name. Players can enjoy standard casino games like slots, blackjack, roulette, video poker, and
                            more table games. Online and land-based casinos are strictly regulated by the state.</p>
                            </details>
                            <details>
                            <summary>Can you gamble online in Delaware?</summary>
                            <p>Online gambling is not considered illegal in Delaware. Casino enthusiasts can take their pick of video slots, classic slots, and more casino games.</p>
                            </details>
                            <details>
                            <summary>What is the largest casino in Delaware?</summary>
                            <p>Dover Downs Casino is the largest casino in Delaware state which also has a harness racing track, and a concrete track used for NASCAR races called Dover International Speedway.</p>
                            </details>
                            <details>
                            <summary>How many casinos does Delaware have?</summary>
                            <p>The state of Delaware has three casinos where online gamers can explore more than 6,400 slots, table games, video poker variations, and more.</p>
                            </details>
                            <details>
                            <summary>Can you smoke at Delaware Park Casino?</summary>
                            <p>State laws prohibit smoking at indoor facilities. The casino does offer smoking areas outside the slots parlor.</p>
                            </details>
                            <details>
                            <summary>&gt;What town is Delaware Park in?</summary>
                            <p>Delaware Park, or DelPark as it is also known as, offers a horse racing track for American thoroughbred horses, golf course, and casino facilities with slot games, blackjack, and more table games. Delpark is outside the city of Wilmington, about 30 miles
                            from Philadelphia.</p>
                            </details>
                            <details>
                            <summary>What is the legal gambling age in Delaware?</summary>
                            <p>The minimum age to buy lottery tickets is 18, and 21 years of age for sports betting, off-track betting, and standard casino games.</p>
                            </details>
                            </div>
                            <h2>Neighboring State Laws</h2>
                            <ul class="buttonsContainer">
                            <li class="ColButtons"><a class="buttons" href="/states">Gambling Laws</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/alabama">Alabama</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/alaska">Alaska</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/arkansas">Arkansas</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/california">California</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/hawaii">Hawaii</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/iowa">Iowa</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/kentucky">Kentucky</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/nevada">Nevada</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/new-jersey">New Jersey</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/new-york">New York</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/pennsylvania">Pennsylvania</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/texas">Texas</a></li>
                            <li class="ColButtons"><a class="buttons" href="/states/washington">Washington</a></li>
                            </ul>
                            </div>
                            </div>

                        
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

