<title>European Rouletten - European Roulette Rules, Odds & Strategy</title>
<meta name="description" content="European roulette is a variant which originated in France. The European roulette wheel has 36 numbers include 0. This gives players better odds of winning!"> 
<meta name="keywords" content="European Rouletten"> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Top American Roulette Guide</h1>

                        <p>Roulette is one of the most popular games played in casinos. The roulette wheels have been in the game since it was invented by Blaise Pascal. As the game made its way around the world, some countries added their twist to the game. One of the first changes
                            was in Europe, where a single zero pocket was added to the roulette wheel. This variation became known as <strong>European roulette</strong>. This European roulette guide will explain the <em>European roulette</em> wheel, table, strategy,
                            rules, and payouts.</p>
                            <h2>European Roulette Table &amp; Wheel</h2>
                            <p>The European roulette table has 37 numbers starting with zero then 1 to 36. The numbers 1 to 36 are divided into red and black numbers. Each of the numbers face towards the inner side of the roulette wheel.</p>
                            <p>To the right of the zero there are nine small numbers in black (2, 4, 6, 8, 10, 11, 13, 15, 17), and then nine big numbers in red (19, 21, 23, 25, 27, 32, 34, 36). To the left there are nine numbers in black, (20, 22, 26, 28, 29, 31, 33, 35) and then
                            there are nine numbers in red, (1, 3, 5, 7, 9, 12, 16, 18).</p>
                            <h2>European Roulette Rules</h2>
                            <p>European roulette online is a lot easier to understand. The game has a house edge of 2.7% and you can bet on any number between 0 and 36. The pay table and different bet options are on the same side on the roulette table. There are various bets you can
                            places and the payouts as well as odds are difference for each. This is one reasons why so many players are attracted to European roulette. To place our bets you will use the buttons at the base of the racetrack / pay table and the number or betting area
                            where you want to place your bets.</p>
                            <h2>Betting Types</h2>
                            <p>There are five types of inside and outside you can place in European roulette. Outside bets are recommended for beginner players as they are easier to understand and they are less risky. These bets are also much easier to win with but the payouts are
                            much smaller. For more experienced players, there are inside bets. These bets are much harder to win with, but they payouts are worth it.</p>
                            <h3>Call Bets</h3>
                            <p>Besides your regular betting options, European roulette offers calls bets. There are three main you can make: Voisin du zero, Tiers du Cyclindre and Orphelin.</p>
                            <p>Voisin du zero is a bet placed on numbers which are neighbours of zero. Tiers du cyclindre are bets on numbers which are opposite to the numbers chosen during voisin du zero. Orphelin call bets are bets on the remaining eight numbers on the wheel.</p>
                            <h2>European Roulette Payout &amp; Odds</h2>
                            <table id="customers">
                            <tbody>
                            <tr>
                            <td width="139">Inside Bets</td>
                            <td width="189">Payout</td>
                            <td width="111">Odds</td>
                            </tr>
                            <tr>
                            <td width="139">Straight</td>
                            <td width="189">35:1</td>
                            <td colspan="2" width="111">2.70%</td>
                            </tr>
                            <tr>
                            <td width="139">Split</td>
                            <td width="189">17:1</td>
                            <td colspan="2" width="111">5.41%</td>
                            </tr>
                            <tr>
                            <td width="139">Three Line</td>
                            <td width="189">11:1</td>
                            <td colspan="2" width="111">8.11%</td>
                            </tr>
                            <tr>
                            <td width="139">Corner / Square</td>
                            <td width="189">8:1</td>
                            <td colspan="2" width="111">10.81%</td>
                            </tr>
                            <tr>
                            <td width="139">Six Line</td>
                            <td width="189">5:1</td>
                            <td colspan="2" width="111">16.22%</td>
                            </tr>
                            <tr>
                            <td width="139">Outside Bets</td>
                            <td width="189">Payout</td>
                            <td colspan="2" width="111">Odds</td>
                            </tr>
                            <tr>
                            <td width="139">Red or Black</td>
                            <td width="189">1 :1</td>
                            <td colspan="2" width="111">48.65%</td>
                            </tr>
                            <tr>
                            <td width="139">Odd or Even</td>
                            <td width="189">1:1</td>
                            <td colspan="2" width="111">48.65%</td>
                            </tr>
                            <tr>
                            <td width="139">1st 12 or 2nd 12 or 3rd 12</td>
                            <td width="189">2 :1</td>
                            <td colspan="2" width="111">32.43%</td>
                            </tr>
                            <tr>
                            <td width="139">High (1-18) or Low (19-36)</td>
                            <td width="189">1:1</td>
                            <td colspan="2" width="111">48.65%</td>
                            </tr>
                            </tbody>
                            </table>
                            <h2>Free European Roulette</h2>
                            <p>Everything is neatly laid out on a realistic casino table, with explosive green felt, and colorful chips alongside a fast-spinning wheel. There&rsquo;s also a handy HELP tab for new players who need more instructions or experienced players who need a
                            quick refresher.</p>
                            <h2>Why Play European Roulette Online</h2>
                            <p>It is easy to play, and provides exquisite entertainment for hours of fun, and massive possible wins. New players can easily pick up the rules, and professional players will appreciate the sophisticated layout, and superior quality. Top online casinos
                            are proud to present this exciting roulette game plus a host of other exciting casino games.</p>
                            <h2>FAQs for European Roulette</h2>
                            <div id="wrapper">
                            <details>
                            <summary>What is the house advantage in European roulette?</summary>
                            <p>European roulette has a house edge of about 2.70%. The addition of the zero gives players better odds of winning.</p>
                            </details>
                            <details>
                            <summary>What is the best bet in roulette?</summary>
                            <p>IThe En Prison option is the best bet. With these rules, even money bets become imprisoned when the ball lands on the number zero pocket.</p>
                            </details>
                            <details>
                            <summary>How do you play European roulette?</summary>
                            <p>Like with most roulette games, European roulette starts off with players placing their bets before pressing the spin button. The wheel will then start spinning until the ball falls into one of the pockets. The colour of the pocket and the number determine
                            the winning bets.</p>
                            </details>
                            <details>
                            <summary>What is the difference between American and European roulette?</summary>
                            <p>The difference between American and European roulette is the numbers on the wheel. European roulette wheel has one zero, while the American roulette wheel has the addition of a double zero as well.</p>
                            </details>
                            <details>
                            <summary>What is European roulette?</summary>
                            <p>European roulette is a roulette variant that has a slightly different layout. The roulette has 37 pockets, where the ball can land. The additional pocket is zero.</p>
                            </details>
                            </div>
                            <h2>Roulette Variants Available on the Web:</h2>
                            <ul class="buttonsContainer">
                            <li class="ColButtons"><a class="buttons" href="/online-roulette">Online Roulette</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-roulette/american-roulette">American Roulette</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-roulette/french-roulette">French Roulette</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-roulette/how-to-play-roulette">How to Play Roulette</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-roulette/multi-player-roulette">Multi-Player Roulette</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-roulette/multi-wheel-roulette">Multi-Wheel Roulette</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-roulette/premier-roulette">Premier Roulette</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-roulette/roulette-royale">Roulette Royale</a></li>
                            <li class="ColButtons"><a class="buttons" href="/online-roulette/tips">Roulette Tips</a></li>
                            </ul>

                        
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

