<div class="container">

<div class="APP">
    <!--Mega Menu-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
      <div class="container-fluid">
      <a class="image-logo"href="/"><img src="https://cdn.cosmicjs.com/54939220-ca94-11eb-be3c-610db61f0ce5-CrazyVegasLogo-1.png" ></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">

          <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase">Online Casinos</a></li>
          <!-- Megamenu-->
          <li class="nav-item dropdown megamenu"><a id="megamneu"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase dropdown-toggle" routerLink="/casino-bonuses/">Casino Bonuses</a>
            <div aria-labelledby="dropdownMenuButton1" class="dropdown-menu border-0 p-0 m-0">
              <div class="container">
                <div class="row bg-white rounded-0 m-0 shadow-sm">
                  <div class="col-lg-7 col-xl-8">
                    <div class="p-4">
                      <div class="row">
                        <div class="col-lg-6 mb-4">
                          <ul class="list-unstyled">
                            <li class="nav-item"><a href="/casino-bonuses/birthday/" class="nav-link text-small pb-0">Birthday Bonuses</a></li>
                            <li class="nav-item"><a href="/casino-bonuses/free-spins/" class="nav-link text-small pb-0 ">Free Spins</a></li>
                            <li class="nav-item"><a href="/casino-bonuses/welcome-bonus/" class="nav-link text-small pb-0 ">Welcome Bonuses</a></li>
                            <li class="nav-item"><a href="/casino-bonuses/no-deposit-bonus/" class="nav-link text-small pb-0 ">No Deposit Bonuses</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown megamenu"><a id="megamneu" routerLink="/mobile-casinos/" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase dropdown-toggle">Mobile Bonuses</a>
            <div aria-labelledby="dropdownMenuButton1" class="dropdown-menu border-0 p-0 m-0">
              <div class="container">
                <div class="row bg-white rounded-0 m-0 shadow-sm">
                  <div class="col-lg-7 col-xl-8">
                    <div class="p-4">
                      <div class="row">
                        <div class="col-lg-6 mb-4">
                          <ul class="list-unstyled">
                            <li class="nav-item"><a href="/android-casinos/" class="nav-link text-small pb-0">Android Casinos</a></li>
                            <li class="nav-item"><a href="/apple-casinos/" class="nav-link text-small pb-0 ">Apple Casinos</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>


          <li class="nav-item dropdown megamenu"><a id="megamneu" routerLink="/casino-games/" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase dropdown-toggle">Casino Games</a>
            <div aria-labelledby="dropdownMenuButton1" class="dropdown-menu border-0 p-0 m-0">
              <div class="container">
                <div class="row bg-white rounded-0 m-0 shadow-sm">
                  <div class="col-lg-7 col-xl-8">
                    <div class="p-4">
                      <div class="row">
                        <div class="col-lg-6 mb-4">
                          <ul class="list-unstyled">
                            <li class="nav-item"><a href="/online-baccarat/" class="nav-link text-small pb-0">Baccarat</a></li>
                            <li class="nav-item"><a href="/online-blackjack/" class="nav-link text-small pb-0 ">Blackjack</a></li>
                            <li class="nav-item"><a href="/online-craps/" class="nav-link text-small pb-0 ">Craps</a></li>
                            <li class="nav-item"><a href="/online-roulette/" class="nav-link text-small pb-0 ">Roulette</a></li>
                            <li class="nav-item"><a href="/online-video-poker/" class="nav-link text-small pb-0 ">Video Poker</a></li>
                            <li class="nav-item"><a href="/online-poker/" class="nav-link text-small pb-0 ">Poker</a></li>
                            <li class="nav-item"><a href="/live-dealer-casinos/" class="nav-link text-small pb-0 ">Live Dealer</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item"><a href="/online-slots/" class="nav-link font-weight-bold text-uppercase">Online Slots</a></li>
        </ul>
      </div>
      </div>
    </nav>
    <marquee direction="left" height="5%" width="100%" bgcolor="white">Best online casino site in USA with amaizing online casinos. 100% secured site. 100% payout. Crazy Vegas Casino lists the best casino bonus codesfrom trusted casinos.</marquee>
  </div>
  
</div>
