.bg-white {
    background: #fff !important;}

.bg-white{
    border-bottom: 2px solid #a3252c;
}

li.nav-item[_ngcontent-serverApp-c198] {
    border-right: 1px dotted #b9c8d7 !important;
}
marquee {
    margin-top: -4px !important;
    font-style: italic;
    color: #d7a1c3;
    letter-spacing: 1px;
}

a.nav-link.text-small.pb-0 {
    margin-left: -38px;
    width: 180px !important;
    margin-top: 0px;
}

li.nav-item {
    border-right: 2px dotted #f0f0f0;
}

.dropdown-menu.border-0.p-0.m-0.show .nav-item {
    border: 0px;
}