<title>Wild Scarabs Slot Review - Jackpot, RTP & Game Info [Microgaming]</title>
<meta name="description" content="Detailed review of wild scarabs slot from Microgaming. Wild Scrabs features 5-reels, 243 ways, and an RTP of 96%. Win up to 1733x your stake in Wild Scarabs!"> 
<meta name="keywords" content="Wild Scarabs Slot Review"> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Wild Scarabs Slot Review</h1>
                        <p><strong>Wild Scarabs</strong> is a fun and enjoyable 5 reel slot with 243 ways to win. The RTP for this Microgaming innovation is about 96%, and the game has a low variance. The background of the slot has Egyptian pyramids with lakes and palm trees. Follow
                            the Ankh, Anubis, Horus, and Eye of Ra as they lead you deeper and deeper into a magical world where time stands still, and wonders roam. Read our detailed review of <em>Wild Scarabs</em> to find out more about the special features and symbols.</p>
                            <p><img class="wp-image-864 aligncenter fr-fic fr-dii" src="https://imgix.cosmicjs.com/f8942be0-2387-11ec-a33b-09138673c894-300x199-wild-scarabs-base-slot-game.jpg" alt="Wild Scarabs Casino Review" width="300" height="199"></p>
                            <table id="customers">
                            <tbody>
                            <tr>
                            <td colspan="2" width="601">Game Information
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Software: Microgaming
                            <br>
                            </td>
                            <td width="301">Maximum Coins: 15
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Reels: 5
                            <br>
                            </td>
                            <td width="301">Maximum Coin Size: 30
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Paylines: 243 ways to win
                            <br>
                            </td>
                            <td width="301">Minimum Coin Size: 0.15
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Multiplier Symbol: No
                            <br>
                            </td>
                            <td width="301">Player Level: Beginner, Intermediate, Expert
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Wild Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Progressive: No
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Gamble Feature: No
                            <br>
                            </td>
                            <td width="301">Free Spins: Yes
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Scatter Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Number of Free Spins: up to 15
                            <br>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <p>&nbsp;</p>
                            <h2>Wild Scarabs: Special Features</h2>
                            <p>Wild Scarabs comes from the developers of Microgaming. The slot has 5 reels with 243 ways to win. You can wager up 30 coins per lubes, and the game appeals to everyone of all levels. This Egyptian themed slot takes you to the peak of Egypt&rsquo;s golden
                            era and features 3 special bonuses.</p>
                            <h3>Wild Deal Feature</h3>
                            <p>Any non-winning spin during the base game where the wild is on the middle-reel will activate this bonus. Upon activation, four extra wilds will be added to the reels. No doubt, this will guarantee a winning combination.</p>
                            <h3>Free Spins and Extra Free Spins Feature</h3>
                            <ul>
                            <li>Up to 10 free spins can be won during gameplay.</li>
                            <li>Three or more scatters trigger 10 free spins.</li>
                            <li>Free spins will be awarded until all stashed wilds are played.</li>
                            <li>Five or six more wilds on top of a wild scarab symbol free spin multiplies wins.</li>
                            </ul>
                            <h2>Symbols</h2>
                            <p>The symbols of the game include:</p>
                            <ul>
                            <li>The Eye of Ra</li>
                            <li>An Ankh</li>
                            <li>Anubis</li>
                            <li>Horus</li>
                            </ul>
                            <h3>Gilded Scarab</h3>
                            <ul>
                            <li>The Gilded Scarab is the game&#39;s wild symbol.</li>
                            <li>The wild can replace all other symbols on the reels to form winning combinations, except for the scatter.</li>
                            <li>A stashed wild feature is triggered in the free spins feature.</li>
                            <li>A wild symbol in the middle reel of a non-winning round will activate the wild deal feature.</li>
                            <li>Up to four extra wilds can be added to the reels that virtually guarantees a winning combination.</li>
                            <li>When three or more wilds are stashed, they are randomly added to the reels to create winning combinations.</li>
                            <li>More free spins will be added until all the stashed wilds have been used.</li>
                            </ul>
                            <h2>Wild Scarab: Verdict</h2>
                            <p>Journey to ancient Egypt and explore the buried tombs of powerful pharaohs. Discover their hidden wealth, treasures, and jewels if you dare. Wild Scarabs slot game, available at top Microgaming casinos online, is a thrilling adventure beneath the enchanted
                            lands where kings walked. Packed with free spins, this top slot game is sure to send you on a wild ride on the reels.</p>
                            <h2>Microgaming Slots</h2>
                            <ul>
                            <li><a href="/microgaming/adventure-palace">Adventure Palace</a></li>
                            <li><a href="/microgaming/agent-jane-blonde">Agent Jane Blonde</a></li>
                            <li><a href="/microgaming/age-of-discovery">Age of Discovery</a></li>
                            <li><a href="/microgaming/alaskan-fishing">Alaskan Fishing</a></li>
                            <li><a href="/microgaming/alley-cats">Alley Cats</a></li>
                            <li><a href="/microgaming/arctic-fortune">Arctic Fortune</a></li>
                            <li><a href="/microgaming/ariana">Ariana</a></li>
                            <li><a href="/microgaming/asian-beauty">Asian Beauty</a></li>
                            <li><a href="/microgaming/avalon">Avalon</a></li>
                            <li><a href="/microgaming/bars-and-stripes">Bars and Stripes</a></li>
                            <li><a href="/microgaming/beach-babes">Beach Babes</a></li>
                            <li><a href="/microgaming/bearly-fishing">Bearly Fishing</a></li>
                            <li><a href="/microgaming/bomber-girls">Bomber Girls</a></li>
                            <li><a href="/microgaming/boogie-monsters">Boogie Monsters</a></li>
                            <li><a href="/microgaming/break-da-bank-again">Break da Bank Again</a></li>
                            <li><a href="/microgaming/buffet-bonanza">Buffet Bonanza</a></li>
                            <li><a href="/microgaming/bush-telegraph">Bush Telegraph</a></li>
                            <li><a href="/microgaming/cabin-fever">Cabin Fever</a></li>
                            <li><a href="/microgaming/captain-cash">Captain Cash</a></li>
                            <li><a href="/microgaming/doctor-love">Doctor Love</a></li>
                            <li><a href="/microgaming/exotic-cats">Exotic Cats</a></li>
                            <li><a href="/microgaming/fat-lady-sings">Fat Lady Sings</a></li>
                            <li><a href="/microgaming/fortunium">Fortunium</a></li>
                            <li><a href="/microgaming/mega-moolah">Mega Moolah</a></li>
                            <li><a href="/microgaming/playboy-gold">Playboy Gold</a></li>
                            <li><a href="/microgaming/rainbrew">Rainbrew</a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

