<title>Rainbrew Slot Review - Jackpot, RTP & Game Info [Microgaming]</title>
<meta name="description" content="Rainbrew is an Irish-themed high variance slot game with great payouts. The slot also features wilds, scatters, and a sidewinder bonus feature."> 
<meta name="keywords" content=" "> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Rainbrew Slot Review – Features & Icons Explained</h1>

                        <p>Rainbrew is an entertaining slot with high winning potential. The catchy soundtrack and great visuals make the trip to the leprechaun&rsquo;s brewery worth it. This Irish-themed pays in both directions and has an RTP of 96.02%. There are 5 reels with
                            243 ways to win that can stretch up 1125 ways. The free spins rounds are a great chance for extra ways to win. You can also turn reels wild in the Rainbrew slot game. Read our full Rainbrew slot review for the symbols&#39; information and how to activate
                            the bonus features. &nbsp;</p>
                            <p><img class="wp-image-862 aligncenter fr-fic fr-dii" src="https://imgix.cosmicjs.com/5e25c220-2388-11ec-a33b-09138673c894-300x188-rainbrew-base-slot-game.jpg" alt="Rainbrew Free Slot Game" width="300" height="188"></p>
                            <table id="customers">
                            <tbody>
                            <tr>
                            <td colspan="2" width="601">Game Information
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Software: Microgaming
                            <br>
                            </td>
                            <td width="301">Maximum Coins: 10
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Reels: 5
                            <br>
                            </td>
                            <td width="301">Maximum Coin Size: 100
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Paylines: Up to 1,125 ways to win
                            <br>
                            </td>
                            <td width="301">Minimum Coin Size: 0.10
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Multiplier Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Player Level: Beginner, Intermediate, Expert
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Wild Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Progressive: No
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Gamble Feature: No
                            <br>
                            </td>
                            <td width="301">Free Spins: Yes
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Scatter Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Number of Free Spins: up to 16
                            <br>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <p>&nbsp;</p>
                            <h2>Rainbrew: Features</h2>
                            <p>In the base game, the is set up with 5 reels and 243 ways to win. The slot pays from left to right. During the Sidewinder feature, the ways to wind extends to 1,125 ways to win. Betting on the slot ranges between 0.10 and 100.00 per spin. The bonus features
                            in the game include free spins and sidewinders.</p>
                            <h3>Free Spins Feature</h3>
                            <p>The free spins rounds activate when scatters appear on reels 2 and 4 simultaneously. Three scatter symbols will give you 6 free spins, while 4 scatters will reward 10 free spins.</p>
                            <p>During the free spins rounds, the Sidewinders feature will also be active. This can create 1,125 ways to win with all wilds and scatters being active.</p>
                            <h3>Expanding Wilds</h3>
                            <p>The free spins round also give way to expanding wilds. When the wild stop on the same reel position on each sidewinder, the rows between them are filled with wilds.</p>
                            <h3>Sidewinder Feature</h3>
                            <p>To trigger either the top or bottom sidewinder, you need to land on the top wild symbol (blue) or the</p>
                            <p>Landing on the top wild symbols (blue) or the bottom wild symbol (green) will activate the top or bottom sidewinder, respectively. The top wilds are only found on reel 2, and the bottom ones only appear on reel 3.</p>
                            <h2>Symbols</h2>
                            <p>The low paying symbols are made up of various Celtic-inspired icons.</p>
                            <p>The high paying symbols comprise of&nbsp;a pipe, the mug, the barrel, a female leprechaun, and a male leprechaun.</p>
                            <h3>Wild Symbol</h3>
                            <ul>
                            <li>This slot comes with three wild symbols.</li>
                            <li>Wilds: regular wild, top wild, bottom wild.</li>
                            <li>Regular wilds only appear on horizontal reels.</li>
                            <li>Top wilds activate the top horizontal reels.</li>
                            <li>Bottom wilds only appear on reel 4 and the top horizontal reel.</li>
                            <li>The sidewinder feature is activated by the top wild and the bottom wild.</li>
                            </ul>
                            <h2>Verdict: Rainbrew</h2>
                            <p>Rainbrew online slot game from Microgaming is a firm favorite among United States online casino players because of its easy gameplay and volatile nature. 243 ways to win multiplies exponentially to 1,125 ways to win. A unique sidewinder feature, a free
                            spins feature, and three wild symbols. Symbols can connect to form magnetic chain reactions of wins and bonus rounds. Get chugging on desktop and mobile casino as the plot thickens with this luscious leprechaun and his giddy girlfriend.</p>
                            <h2>Other Microgaming Slots</h2>
                            <ul>
                            <li><a href="/microgaming/adventure-palace">Adventure Palace</a></li>
                            <li><a href="/microgaming/agent-jane-blonde">Agent Jane Blonde</a></li>
                            <li><a href="/microgaming/age-of-discovery">Age of Discovery</a></li>
                            <li><a href="/microgaming/alaskan-fishing">Alaskan Fishing</a></li>
                            <li><a href="/microgaming/alley-cats">Alley Cats</a></li>
                            <li><a href="/microgaming/arctic-fortune">Arctic Fortune</a></li>
                            <li><a href="/microgaming/ariana">Ariana</a></li>
                            <li><a href="/microgaming/asian-beauty">Asian Beauty</a></li>
                            <li><a href="/microgaming/avalon">Avalon</a></li>
                            <li><a href="/microgaming/bars-and-stripes">Bars and Stripes</a></li>
                            <li><a href="/microgaming/beach-babes">Beach Babes</a></li>
                            <li><a href="/microgaming/bearly-fishing">Bearly Fishing</a></li>
                            <li><a href="/microgaming/bomber-girls">Bomber Girls</a></li>
                            <li><a href="/microgaming/boogie-monsters">Boogie Monsters</a></li>
                            <li><a href="/microgaming/break-da-bank-again">Break da Bank Again</a></li>
                            <li><a href="/microgaming/buffet-bonanza">Buffet Bonanza</a></li>
                            <li><a href="/microgaming/bush-telegraph">Bush Telegraph</a></li>
                            <li><a href="/microgaming/cabin-fever">Cabin Fever</a></li>
                            <li><a href="/microgaming/captain-cash">Captain Cash</a></li>
                            <li><a href="/microgaming/doctor-love">Doctor Love</a></li>
                            <li><a href="/microgaming/exotic-cats">Exotic Cats</a></li>
                            <li><a href="/microgaming/fat-lady-sings">Fat Lady Sings</a></li>
                            <li><a href="/microgaming/fortunium">Fortunium</a></li>
                            <li><a href="/microgaming/mega-moolah">Mega Moolah</a></li>
                            <li><a href="/microgaming/playboy-gold">Playboy Gold</a></li>
                            <li><a href="/microgaming/wild-scarabs">Wild Scarabs</a></li>
                            </ul>

                        
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

