<title>Play Boy Gold Slot Review - Jackpot, RTP & Game Info [Microgaming] </title>
<meta name="description" content="Detailed review of Playboy Gold from Microgaming. Playboy Gold has 6 reels with 100 paylines, betting ranges between 0.01 and 10.00, and the RTP is 96.01%. "> 
<meta name="keywords" content="Play Boy Gold Slot Review"> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Playboy Gold Slot Review</h1>

                        <p><strong>Playboy Gold</strong> is a fun Microgaming innovation with 6 reels and 100 paylines. Betting on Playboy Gold ranges between 0.01 and 0.50, making it suitable for all players. Launched in 2018, you can enjoy Playboy Gold from the best Microgaming
                            online casinos for free &ndash; no download or registration required. Watch as the two salacious hostesses on either side of the reels guide you through the pleasure rooms and help you win big. Use our full review of the <em>Playboy Gold</em> for more
                            information on the bonus rounds and symbols.</p>
                            <p><img class="wp-image-861 aligncenter fr-fic fr-dii" src="https://imgix.cosmicjs.com/c2a991e0-2388-11ec-a33b-09138673c894-300x161-playboy-gold-microgaming-base-game.png" alt="Playboy Gold Slot - Microgaming" title="Playboy Gold Slot - Microgaming" width="300"
                            height="161"></p>
                            <table id="customers">
                            <tbody>
                            <tr>
                            <td colspan="2" width="601">Game Information
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Software: Microgaming
                            <br>
                            </td>
                            <td width="301">Maximum Coins: 50
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Reels: 6
                            <br>
                            </td>
                            <td width="301">Maximum Coin Size: 500
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Paylines: 100
                            <br>
                            </td>
                            <td width="301">Minimum Coin Size: 0.50
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Multiplier Symbol: No
                            <br>
                            </td>
                            <td width="301">Player Level: Beginner, Intermediate, Expert
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Wild Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Progressive: No
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Gamble Feature: No
                            <br>
                            </td>
                            <td width="301">Free Spins: Yes
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Scatter Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Number of Free Spins: up to 10
                            <br>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <p>&nbsp;</p>
                            <h2>Playboy Gold: Bonus Features</h2>
                            <p>Before you can spin the reels to stand a chance of triggering the bonus rounds, you will need to place your bets. You can adjust your coin size and coin bet amount, or you can just press the bet max to place the highest bet amount.</p>
                            <h3>Jumbo Block Feature</h3>
                            <p>One of the first features you are most likely to come across. The Jumbo Blocks, as the name suggests, are massive symbols featuring the Playmates Stephanie, Carly, Gia, and Hiromi. When you land of these on the reels in full, one of three things can happen:</p>
                            <ul>
                            <li>You will receive an instant prize</li>
                            <li>You will receive a multiplier prize if there are any winning combinations on the reels.</li>
                            <li>The re-spins feature will be activated.</li>
                            </ul>
                            <h3>Re-spins Bonus</h3>
                            <p>This feature is activated in the Jumbo Block bonus. When you trigger the re-spins bonus, the Jumbo Blocks will expand from 4x6 to 4x10 and will cover the four middle reels for either two, three, or four spins. Also, any wilds that appear on reels 1 and
                            6 will become sticky.</p>
                            <h3>Wheel Bonus Feature</h3>
                            <p>The wheel bonus is activated when at least three scatters appear anywhere on the reels. This will give you a chance to spin the wheel one time. Prizes include multiplier payouts between 20x and 100x your bet. You can also trigger free spins or a match
                            bonus game.</p>
                            <h3>Free Spins Feature</h3>
                            <p>If you land on the keys to the Playboy mansion during the wheel bonus game, you will trigger the free spins rounds. During the free spins, reels 1 and 6 will have sticky wilds, plus you are guaranteed a full Jumbo Block with every free spin.</p>
                            <h3>Match Bonus</h3>
                            <p>The wheel bonus can also give you a match bonus round if you land on the Playboy Bunnies. You will select cards from a row in this feature until you can match a pair of Playboy Bunnies. There are different payouts for each pair of Playboy Bunnies. To
                            make this feature even more exciting, if you can match a pair of girls on the first two flips, you will receive all of the prizes combined. Every flip thereafter, the prize is multiplied. A 10x bonus will be rewarded for a flip on the 7<sup>th</sup> match.</p>
                            <h2>Symbols</h2>
                            <p>Payouts in the Playboy Gold online slot all pay from left to right. You will receive the payout for the highest winning combination. The symbols on the reels include:</p>
                            <ul>
                            <li>Club</li>
                            <li>Diamond</li>
                            <li>Heart</li>
                            <li>Spade</li>
                            <li>Black and Gold Playboy Chips</li>
                            <li>Playboy Bunny &ndash; Carly</li>
                            <li>Playboy Bunny &ndash; Gia</li>
                            <li>Playboy Bunny &ndash; Hiromi</li>
                            <li>Playboy Bunny &ndash; Stephanie</li>
                            </ul>
                            <p>Each of the Playboy Bunnies has their own colored tokens.</p>
                            <ul>
                            <li>Carly &ndash; Blue Playboy Bunny Tokens</li>
                            <li>Gia &ndash; Purple Playboy Bunny Tokens</li>
                            <li>Hiromi &ndash; Red Playboy Bunny Tokens</li>
                            <li>Stephanie &ndash; Gold Playboy Bunny Tokens</li>
                            </ul>
                            <h3>Playboy Cufflink</h3>
                            <p>The Playboy cufflink represents the game&rsquo;s wild symbol. This symbol can replace all other icons on the reels except for the scatter. It is also your special icon to trigger the bonus rounds.</p>
                            <h2>Playboy Gold: Verdict</h2>
                            <p>Playboy Gold is a fun slot game with lots of unique bonus rounds. The Microgaming slot has a lot of variety, and with an RTP of 96.01%, it is not a bad choice. You can also enjoy Playboy Gold for free or real money, and you can play on your mobile. Play
                            Playboy Gold and land a set of keys to the mansion for the gameplay of a lifetime!</p>
                            <h2>Popular Games from Microgaming</h2>
                            <ul>
                            <li><a href="/microgaming/adventure-palace">Adventure Palace</a></li>
                            <li><a href="/microgaming/agent-jane-blonde">Agent Jane Blonde</a></li>
                            <li><a href="/microgaming/age-of-discovery">Age of Discovery</a></li>
                            <li><a href="/microgaming/alaskan-fishing">Alaskan Fishing</a></li>
                            <li><a href="/microgaming/alley-cats">Alley Cats</a></li>
                            <li><a href="/microgaming/arctic-fortune">Arctic Fortune</a></li>
                            <li><a href="/microgaming/ariana">Ariana</a></li>
                            <li><a href="/microgaming/asian-beauty">Asian Beauty</a></li>
                            <li><a href="/microgaming/avalon">Avalon</a></li>
                            <li><a href="/microgaming/bars-and-stripes">Bars and Stripes</a></li>
                            <li><a href="/microgaming/beach-babes">Beach Babes</a></li>
                            <li><a href="/microgaming/bearly-fishing">Bearly Fishing</a></li>
                            <li><a href="/microgaming/bomber-girls">Bomber Girls</a></li>
                            <li><a href="/microgaming/boogie-monsters">Boogie Monsters</a></li>
                            <li><a href="/microgaming/break-da-bank-again">Break da Bank Again</a></li>
                            <li><a href="/microgaming/buffet-bonanza">Buffet Bonanza</a></li>
                            <li><a href="/microgaming/bush-telegraph">Bush Telegraph</a></li>
                            <li><a href="/microgaming/cabin-fever">Cabin Fever</a></li>
                            <li><a href="/microgaming/captain-cash">Captain Cash</a></li>
                            <li><a href="/microgaming/doctor-love">Doctor Love</a></li>
                            <li><a href="/microgaming/exotic-cats">Exotic Cats</a></li>
                            <li><a href="/microgaming/fat-lady-sings">Fat Lady Sings</a></li>
                            <li><a href="/microgaming/fortunium">Fortunium</a></li>
                            <li><a href="/microgaming/mega-moolah">Mega Moolah</a></li>
                            <li><a href="/microgaming/rainbrew">Rainbrew</a></li>
                            <li><a href="/microgaming/wild-scarabs">Wild Scarabs</a></li>
                            </ul>

                        
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

