<title>pure-platinum Review – pure-platinum at American Microgaming casinos</title>
<meta name="description" content="pure-platinum slot review. Battle it out with the kings of the beasts as these big boys leap from the reels. Another epic US slot game from Microgaming."> 
<meta name="keywords" content="Pure platinum slot review"> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-review">
                        <h1>Pure Platinum Online Slot Review</h1>

                        <p>Pure Platinum is all about the bling. This <a href="/online-slots">online slot</a> comes straight from the developers of Microgaming and will have you entertained for hours. This incredible slot machine has captivating graphics and real-life sound effects
                            for an authentic experience. Find out how to win with the Pure Platinum online slot at Crazy Vegas Casino.</p>
                            <h2>How to Win with Pure Platinum</h2>
                            <p>Pure Platinum is a 5-reel, 40 payline slot machine filled with winning opportunities and bonus features.</p>
                            <ul>
                            <li>Betting on the Pure Platinum slot will cost between 0.01 and 0.20 per spin.</li>
                            <li>The images players will find landing on the reels include a Diamond Ring, Game Logo, a Scatter, Wild, and the traditional card icons of 9, 10, A, J, K, and Q.</li>
                            <li>The Wild symbol is the game logo. This special icon has the ability to replace all other symbols on the reels. This will help with forming higher paying combinations.</li>
                            <li>The scatter symbol is your special icon to triggering the bonus game.</li>
                            <li>Land three scatter symbols to trigger the bonus feature.</li>
                            <li>Before the bonus feature begins, players will be required to select an additional option to play during the bonus round.</li>
                            <li>Players can win up to 50 Free Spins plus up to a 5x multiplier bonus reward.</li>
                            <li>For all wins achieved, players will have a gamble option. Here players will need to choose whether the face-down card is Red or Black to double their winnings. However, if players manage to guess the correct suit of card, their winnings will be quadrupled.</li>
                            </ul>
                            <h2>Play the Pure Platinum Slot Game</h2>
                            <p>Pure Platinum is a fun and highly rewarding online slot game. Play this real money slot online for free today at the top online slots casinos, as recommended by Crazy Vegas Casino. Crazy Vegas is your ultimate guide to the best online casinos and <a href="/casino-games">casino games</a>the
                            internet has ever seen!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

