<title></title>
<meta name="description" content=""> 
<meta name="keywords" content=""> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Responsible Gaming</h1>

                        <p>Playing at casinos is all about having the time of your life, but playing with moderation. We will always go the extra mile to ensure players stay on top of their game by playing in a safe and regulated environment. To do this, we encourage players never
                            to play beyond their means. Always keep track of the time you are spending online and constantly monitor the amount of money you are putting down. Never be afraid to ask for help.</p>
                            <h2>How to protect yourself</h2>
                            <h3>Set your own personal limits for your account</h3>
                            <p><strong>Deposit limit</strong> - Control your spending by placing daily, weekly or monthly deposit limits on your account. <strong>Wagering limit</strong> - The amount of money you`ll be able to wager on a daily, weekly or monthly basis. <strong>Loss limit</strong>-
                            Losing too much? Place a loss limit on your account for a specific period. <strong>Session time limit</strong> - The length of a session allowed before you are automatically logged off. These limits are completely optional and are not a requirement for
                            all players. However, we recommend all players should put any limits on their casino sessions to ensure you stay on top of your game. To do this, get in touch with the online casino of your choice and ask them to set up limits on your real money online
                            casino profile. <strong>Cooling-off period&nbsp;</strong>- Take a short break from gaming. With this option, you have the freedom to lock your account for 24 hours, or 7/30/90 days. This time allows you to check back, reflect, and get gaming again when
                            you&#39;re ready. <strong>Self-exclusion</strong> - This is another option that allows you to take a break from gaming. You can decide for how long we should deactivate your real money online casino account, and during this time you will not be able to
                            log into your account.</p>
                            <h2>Do you think you might have a problem?</h2>
                            <ul>
                            <li>Have you ever felt remorse after gambling?</li>
                            <li>Do you ever gamble to get money with which to pay debts or solve financial difficulties?</li>
                            <li>After losing do you feel the need to return as soon as possible and win back your losses?</li>
                            <li>After winning do you have a strong urge to return and win more?</li>
                            <li>Do you often gamble until your last cent is gone?</li>
                            <li>Have you ever borrowed money to finance your gambling?</li>
                            <li>Have you ever sold anything to finance gambling?</li>
                            <li>Have you ever been reluctant to use your &quot;gambling money&quot; for normal expenditures?</li>
                            <li>Does gambling make you care less of the welfare of yourself or your family?</li>
                            <li>Have you ever committed, or considered committing an illegal act to finance your gambling?</li>
                            <li>Have you ever considered self-destruction or suicide as a result of your gambling?</li>
                            </ul>
                            <h2>How to get help</h2>
                            <p>The below independent organizations can be contacted by anyone seeking advice or suffering from a gambling/addiction problem.</p>
                            <table id="customers">
                            <tbody>
                            <tr>
                            <td><strong>National Council on Problem Gambling</strong></td>
                            <td><a href="https://www.ncpgambling.org/" rel="noopener noreferrer" target="_blank">https://www.ncpgambling.org/</a> 1-800-522-4700</td>
                            </tr>
                            <tr>
                            <td><strong>Problem Gambling CA&nbsp;</strong></td>
                            <td><a href="http://www.problemgambling.ca/gambling-help/" rel="noopener noreferrer" target="_blank">http://www.problemgambling.ca/gambling-help/</a> 1-866-531-2600</td>
                            </tr>
                            <tr>
                            <td><strong>SAMHSA&nbsp;</strong></td>
                            <td><a href="https://www.samhsa.gov/" rel="noopener noreferrer" target="_blank">https://www.samhsa.gov/</a> 1-800-487-4889</td>
                            </tr>
                            </tbody>
                            </table>
                            <h2>Under age</h2>
                            <p>Gambling for under 18&rsquo;s is strictly forbidden. Gambling involves risk, and should be carefully monitored. Gambling can be harmful and should be handled responsibly. As part of any safe online casino&rsquo;s responsible gaming policy, they do ask
                            that all players take extra care to keep your real money casino account number and password confidential by law. No child under the age of 18 should be left unattended around your computer, or mobile while playing at any online casino site or using online
                            casino software. There is strict control to prohibit minors from accessing top online casino gaming system as part of the KYC (Know Your Customer) Policy. These procedures require customers to declare that they are of lawful age during the sign-up process.
                            Should you require a filter to block gaming websites from any underage persons, please visit any of the following websites for assistance: <a href="https://www.cyberpatrol.com/" rel="noopener noreferrer" target="_blank">www.cyberpatrol.com</a>, <a href="https://www.forcepoint.com/?utm_source=Websense&utm_medium=Redirect&utm_content=home"
                            rel="noopener noreferrer" target="_blank">www.surfcontrol.com</a>, <a href="https://www.netnanny.com/" rel="noopener noreferrer" target="_blank">www.netnanny.com</a>.</p>

                        
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

