<title>Agent Jane Blonde Slot Review - Jackpot, RTP & Game Info [Microgaming] </title>
<meta name="description" content="Agent Jane Blonde Slot Review - Jackpot, RTP & Game Info [Microgaming]"> 
<meta name="keywords" content="Agent Jane Blonde Slot Review"> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Agent Jane Blonde Slot Review</h1>

                        <p><strong>Agent Jane Blonde</strong> is a secret agent slot game with 5 reels and 9 paylines. You will find Jane appearing in all sorts of heroic poses on your reels as she travels the world in search of rogue agents. Agent Jane Blonde has everything you
                            will expect from a Microgaming slot game. You can also take the adventure by playing on your smartphone or tablet. Embark on the secret missions and stand the chance of winning up to 10,000-coins. Join the adventures with <em>Agent Jane Blonde</em> today
                            as she fights to save the world. &nbsp;</p>
                            <p><img class="wp-image-842 aligncenter fr-fic fr-dii" src="https://imgix.cosmicjs.com/a28c00b0-239b-11ec-a33b-09138673c894-600x438-agent-jane-blonde-slot-review.png" alt="Agent Jane Blonde Slot" title="Agent Jane Blonde Slot" width="600" height="438"></p>
                            <table
                            id="customers">
                            <tbody>
                            <tr>
                            <td colspan="2" width="601">Game Information
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Software: Microgaming
                            <br>
                            </td>
                            <td width="301">Maximum Coins: 5
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Reels: 5
                            <br>
                            </td>
                            <td width="301">Maximum Coin Size: 1.00
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Paylines: 9
                            <br>
                            </td>
                            <td width="301">Minimum Coin Size: 0.01
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Multiplier Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Player Level: All
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Wild Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Progressive: No
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Maximum Jackpot: 10 000 Coins
                            <br>
                            </td>
                            <td width="301">Free Spins: Yes
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Scatter Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Number of Free Spins: Up to 15
                            <br>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <h2>Features</h2>
                            <p>Get your license to thrill and spillover massive jackpot potential. &nbsp;Agent Jane Blonde is one of the most popular slots for its exciting gameplay and bonuses.</p>
                            <h3>Free Spins</h3>
                            <p>Activate 15 free spins bonus with 3, 4, or 5 scatter symbols appearing anywhere on the reels. All of the wins you land on a free spin will have a triple payout. The free spins also are retriggered by landing three or more scatters on a free spin. The
                            bet amount and paylines remain the same as at the start of the bonus feature.</p>
                            <h3>Gamble Feature</h3>
                            <p>After every winning combination that appears on the reels, you will be able to take advantage of the gamble feature. To activate the bonus, press the gamble button. You will have the choice to either double or quadruple your winnings. During this feature,
                            you will be presented with one card where you will either have to correctly guess the card&#39;s color (red or black) to double your winnings. To quadruple your winnings, you will need to correctly guess the card&#39;s suit (Hearts, Diamonds, Spades,
                            or Clubs). You may continue guessing correctly until the gamble limit is reached. &nbsp;</p>
                            <h2>Symbols</h2>
                            <p>All of the symbols in the game are relevant to the detective theme. Here are the symbols you will find in the game and their payout when you wager the max amount.</p>
                            <ul>
                            <li>Spy Glasses &ndash; pays out 100-coins</li>
                            <li>Exploding Gum &ndash; Pays out 100-coins</li>
                            <li>Martini - Pays out 100-coins</li>
                            <li>Spy Watch - Pays out 100-coins</li>
                            <li>Lipstick - Pays out 125-coins</li>
                            <li>Small Gun - Pays out 125-coins</li>
                            <li>Women in the Snow - Pays out 250-coins</li>
                            <li>Women in Red - Pays out 250-coins</li>
                            <li>Women Scuba Diving - Pays out 400-coins</li>
                            <li>Women in Yellow - Pays out 750-coins</li>
                            <li>Women in Blue - Pays out 750-coins</li>
                            </ul>
                            <h3>Agent Jane Blonde</h3>
                            <p><img src="https://imgix.cosmicjs.com/a2274b70-239b-11ec-a33b-09138673c894-100x100-agent-jane-blonde-wild.png" alt="Agent Jane Blonde Wild" title="Agent Jane Blonde Wild" width="100" height="100" class="fr-fic fr-dii fr-fir">Agent Jane Blonde herself features
                            as the games wild symbol. She can substitute for all of the icons on the reels except for the game logo, which is the scatter symbol. All wins with the agent have a double payout. She is also the icon for the maximum jackpot payout. Landing five Agent
                            Jane Blonde symbols on an active payline will reward you with 10,000-coins!</p>
                            <h3>Game Logo</h3>
                            <p><img src="https://imgix.cosmicjs.com/a2272460-239b-11ec-a33b-09138673c894-100x100-agent-jane-blonde-scatter.png" alt="Agent Jane Blonde Scatter" title="Agent Jane Blonde Scatter" width="100" height="100" class="fr-fic fr-dii fr-fir">The Agent Jane Blonde
                            game logo is your special scatter symbol. This is the symbol you need to trigger the free spins feature. To activate this bonus feature, you need to land at least three scatters anywhere on the reels to get 15 free spins.</p>
                            <h2>Why Play Agent Jane Blonde</h2>
                            <p>Everyone will find this explosive <a href="/online-slots/5-reel-slots">five-reel slot</a> game in the gaming catalogue of any Microgaming casino. Agent Jane Blonde is an innovation that delivers exquisite graphics and gameplay with great payouts!</p>
                            <h2>Top Microgaming Slots</h2>
                            <ul>
                            <li><a href="/microgaming/adventure-palace">Adventure Palace</a></li>
                            <li><a href="/microgaming/age-of-discovery">Age of Discovery</a></li>
                            <li><a href="/microgaming/alaskan-fishing">Alaskan Fishing</a></li>
                            <li><a href="/microgaming/alley-cats">Alley Cats</a></li>
                            <li><a href="/microgaming/arctic-fortune">Arctic Fortune</a></li>
                            <li><a href="/microgaming/ariana">Ariana</a></li>
                            <li><a href="/microgaming/asian-beauty">Asian Beauty</a></li>
                            <li><a href="/microgaming/avalon">Avalon</a></li>
                            <li><a href="/microgaming/bars-and-stripes">Bars and Stripes</a></li>
                            <li><a href="/microgaming/beach-babes">Beach Babes</a></li>
                            <li><a href="/microgaming/bearly-fishing">Bearly Fishing</a></li>
                            <li><a href="/microgaming/bomber-girls">Bomber Girls</a></li>
                            <li><a href="/microgaming/boogie-monsters">Boogie Monsters</a></li>
                            <li><a href="/microgaming/break-da-bank-again">Break da Bank Again</a></li>
                            <li><a href="/microgaming/buffet-bonanza">Buffet Bonanza</a></li>
                            <li><a href="/microgaming/bush-telegraph">Bush Telegraph</a></li>
                            <li><a href="/microgaming/cabin-fever">Cabin Fever</a></li>
                            <li><a href="/microgaming/captain-cash">Captain Cash</a></li>
                            <li><a href="/microgaming/doctor-love">Doctor Love</a></li>
                            <li><a href="/microgaming/exotic-cats">Exotic Cats</a></li>
                            <li><a href="/microgaming/fat-lady-sings">Fat Lady Sings</a></li>
                            <li><a href="/microgaming/fortunium">Fortunium</a></li>
                            <li><a href="/microgaming/mega-moolah">Mega Moolah</a></li>
                            <li><a href="/microgaming/playboy-gold">Playboy Gold</a></li>
                            <li><a href="/microgaming/rainbrew">Rainbrew</a></li>
                            <li><a href="/microgaming/wild-scarabs">Wild Scarabs</a></li>
                            </ul>

                        
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

