<title>Doctor Love Slot Review - Jackpot, RTP & Game Info [Microgaming]</title>
<meta name="description" content="Book an appointment with Microgaming’s love physician n the Doctor Love slot game. This slot features 5-reels, 20 paylines, free spins, a wild & scatter!"> 
<meta name="keywords" content="Doctor Love Slot Review"> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Captain Cash Slot Review</h1>

                        <p>Get ready to re-live your childhood fantasy of being a real-life pirate with the <strong>Captain Cash</strong> online slot machine. Captain Cash is a traditional slot that anyone will enjoy. This classic sailor-themed slot has only 3 reels with 5 paylines.
                            When comparing this video slot to others, <em>Captain Cash</em> may appear very simple. However, as a three-reel slot, it is a good slot game. Read our detailed review of Captain Cash for information on the casino bonuses, payouts and symbols.</p>
                            <p><img src="https://imgix.cosmicjs.com/4a4d8270-238c-11ec-a33b-09138673c894-300x228-captain-cash-microgaming.jpg" alt="Captain Cash Microgaming" title="Captain Cash Microgaming" width="300" height="228" class="aligncenter size-medium wp-image-3435 fr-fic fr-dii"></p>
                            <table
                            id="customers">
                            <tbody>
                            <tr>
                            <td colspan="2" width="601">Game Information
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Software: Microgaming
                            <br>
                            </td>
                            <td width="301">Maximum Coins: 20
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Reels: 3
                            <br>
                            </td>
                            <td width="301">Maximum Bet: 25.00 (5.00 x 5 paylines)
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Paylines: 3
                            <br>
                            </td>
                            <td width="301">Minimum Bet: 0.25
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Multiplier Symbol: No
                            <br>
                            </td>
                            <td width="301">Player Level: Beginner, Intermediate, Expert
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Wild Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Progressive: No
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Maximum Jackpot: 2,500- Credits
                            <br>
                            </td>
                            <td width="301">Free Spins: Yes
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Scatter Symbol: No
                            <br>
                            </td>
                            <td width="301">Number of Free Spins: 10 &ndash; 20
                            <br>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <h2>&nbsp;</h2>
                            <h2>Features</h2>
                            <p>Captain Cash is an incredible <a href="https://en.crazyvegas.com/online-slots/3-reel-slots">3-reel</a>, 5-payline free online slot machine players can enjoy on the internet.&nbsp;Captain Cash&nbsp;is filled with great winning potential for a three-reel
                            slot.</p>
                            <p>As the slot is an old-school slot set up, Captain Cash does not have much to offer in terms of special bonus rounds and free spins.</p>
                            <h3>Jackpot Payout</h3>
                            <p>Captain Cash icons, there are essentially 5 jackpot payouts that you can win. 3 Captain Cash icons on the first payline results in a 1,000-coin payout, whilst payouts of 1,500 coins and 2,000 coins are possible for the same icons on the second and third
                            paylines. Bag 3 of these symbols on the fourth payline, and you&rsquo;ll pick up 2,500 coins, while the top jackpot is worth 5,000 coins for 3 of the wild symbols on the fifth payline.</p>
                            <h2>Symbols:</h2>
                            <p>Since there are no bonus rounds or free spins to activate, there are no special symbols present. The icon to win the max jackpot is the Captain smoking a cigar. All other symbols and their respective payouts are listed below.</p>
                            <ul>
                            <li>Any three Bar icons will reward 4 coins.</li>
                            <li>Three Single Bar icons will reward up to 10-coins.</li>
                            <li>Three Double Bars will reward up to 40-coins.</li>
                            <li>Three Triple Bar Icons will reward up to 60-coins.</li>
                            <li>Three Red Sevens will reward up to 80-coins.</li>
                            </ul>
                            <h3>Captain Smoking a Cigar</h3>
                            <p>The Captain smoking a cigar. &nbsp;It can replace all other symbols on the reels. This can potentially reward a higher paying combination.</p>
                            <h2>Why Play Captain Cash?</h2>
                            <p>Captain Cash combines simplicity with fantastic rewards. Find out where to enjoy this classic slot machine online by visiting top <a href="/microgaming">Microgaming online casinos</a>.</p>
                            <h2>Top Microgaming Slots</h2>
                            <ul>
                            <li><a href="/microgaming/adventure-palace">Adventure Palace</a></li>
                            <li><a href="/microgaming/agent-jane-blonde">Agent Jane Blonde</a></li>
                            <li><a href="/microgaming/age-of-discovery">Age of Discovery</a></li>
                            <li><a href="/microgaming/alaskan-fishing">Alaskan Fishing</a></li>
                            <li><a href="/microgaming/alley-cats">Alley Cats</a></li>
                            <li><a href="/microgaming/arctic-fortune">Arctic Fortune</a></li>
                            <li><a href="/microgaming/ariana">Ariana</a></li>
                            <li><a href="/microgaming/asian-beauty">Asian Beauty</a></li>
                            <li><a href="/microgaming/avalon">Avalon</a></li>
                            <li><a href="/microgaming/bars-and-stripes">Bars and Stripes</a></li>
                            <li><a href="/microgaming/beach-babes">Beach Babes</a></li>
                            <li><a href="/microgaming/bearly-fishing">Bearly Fishing</a></li>
                            <li><a href="/microgaming/bomber-girls">Bomber Girls</a></li>
                            <li><a href="/microgaming/boogie-monsters">Boogie Monsters</a></li>
                            <li><a href="/microgaming/break-da-bank-again">Break da Bank Again</a></li>
                            <li><a href="/microgaming/buffet-bonanza">Buffet Bonanza</a></li>
                            <li><a href="/microgaming/bush-telegraph">Bush Telegraph</a></li>
                            <li><a href="/microgaming/cabin-fever">Cabin Fever</a></li>
                            <li><a href="/microgaming/doctor-love">Doctor Love</a></li>
                            <li><a href="/microgaming/exotic-cats">Exotic Cats</a></li>
                            <li><a href="/microgaming/fat-lady-sings">Fat Lady Sings</a></li>
                            <li><a href="/microgaming/fortunium">Fortunium</a></li>
                            <li><a href="/microgaming/mega-moolah">Mega Moolah</a></li>
                            <li><a href="/microgaming/playboy-gold">Playboy Gold</a></li>
                            <li><a href="/microgaming/rainbrew">Rainbrew</a></li>
                            <li><a href="/microgaming/wild-scarabs">Wild Scarabs</a></li>
                            </ul>

                        
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

