<title>Tomb raider Review – Play Tomb raider at American Microgaming casinos</title>
<meta name="description" content="Tomb raider slot review. Battle it out with the kings of the beasts as these big boys leap from the reels. Another epic US slot game from Microgaming."> 
<meta name="keywords" content="Tomb raider Review"> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-review">
                        <h1>Tomb Raider Slot Game</h1>

                        <p>Embark on the journey of a life time with the glamourous Lara Croft. Enjoy the spectacular gameplay this highly rewarding online slot has to offer at the casino sites we recommend for players. For all first-time players, the Tomb Raider online slot is
                            available as a FREE <a href="/online-slots">online slot</a>. During the gameplay of Tomb Raider players will come across breathless graphics accompanied by real-life sound effects.</p>
                            <h2>Tomb Raider Bonuses and Features</h2>
                            <p>Tomb Raider is an adventurous 5-reel, 15 payline online slot machine players can enjoy for free or real money. There is also a Tomb Raider II online to enjoy which features 5-reels and 30 paylines. This video slot is based on the movie series of the same
                            title. Lara Croft, the main attraction of this slot is not only a movie and free slots star, but has also inspired comic books, novels, and theme park rides. This Microgaming<sup>TM</sup> innovation is jam-packed with bonuses and features to help you
                            maximise on the rewards.</p>
                            <ul>
                            <li><strong>Symbols</strong>: Lara Croft herself, a Lion, Archaeological icons, and the traditional playing card icons of 10, J, K, Q, and A.</li>
                            <li><strong>Coin size</strong>: 0.05-0.50</li>
                            <li><strong>Maximum Bet</strong>: 37.50 coins</li>
                            <li><strong>Maximum jackpot</strong>: 7,500-coins</li>
                            <li><strong>Wild Symbol</strong>: The slot&rsquo;s game logo.</li>
                            <li><strong>Benefits of the wild symbol</strong>: This symbol can replace all other symbols on the reels, except for Lara Croft and the Idol. This can increase the player&rsquo;s odds of landing a winning combination.</li>
                            <li><strong>Scatter Symbol</strong>: Represented by the luscious Lara Croft.</li>
                            <li><strong>Benefits of the scatter symbol</strong>: Landing three or more of these symbols will reward players with 10 Free Spins. All wins during the free spins rounds will come with a 3x multiplier. The free spins feature can be re-triggered.</li>
                            <li><strong>Tomb Bonus</strong>: Trigger this feature by landing at least three bonus Idols on the reels. During this feature, players will need to pick a tomb to reveal hidden treasures.</li>
                            </ul>
                            <h2>Play the Free Tomb Raider Slot- No Download!</h2>
                            <p>Play the Tomb Raider online slot for free at any online gambling site we recommend for a safe casino gaming environment online. Enjoy everything this free slot machine has to offer. Alternatively, take a leap and play real money for your chance at some
                            of the finest casino site jackpots!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

