p.p-no-found {
    font-size: 41px;
    padding-top: 11px;
    text-align: center !important;
    color: #35adc5;
}

p.p-no-found-detailed {
    text-align: center !important;
    color: #ff2ea6;
}

.page-no-found {
    width: 65.28%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    // margin-top: 14px !important;
    background: white;
}