<title>Avalon Slot Review - Jackpot, RTP & Game Info [Microgaming]</title>
<meta name="description" content="Avalon slot from Microgaming has a medieval theme with 5 reels and multiple paylines. Ideal for low to medium volatile players with a RTP of 97% & great bonus rounds."> 
<meta name="keywords" content="Avalon Slot Review"> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <h1>Avalon Slot Review - Features & Symbols Explained</h1>

                        <p>Avalon is a mythological themed five reel slot game with 20 paylines. Developed by Microgaming, the game features a Lady of the Lake scatter and two wild icons &ndash; an Avalon symbol and treasure chest, which only wild during the free spins feature.
                            You can bet a minimum of 20 coins and a maximum bet of 200 coins to play for the maximum jackpot win of 105 000.00 in real cash. Use this Avalon slot review to find all of the hidden features waiting to be unlock in this Arthurian slot!</p>
                            <p><img src="https://imgix.cosmicjs.com/b2d9a4f0-2395-11ec-a33b-09138673c894-600x338-avalon-real-money-microgaming.jpg" alt="Avalon base Game Screen" title="Avalon base Game Screen" width="600" height="338" class="aligncenter size-full wp-image-4181 fr-fic fr-dii"></p>
                            <h2>Avalon features and Special Symbols</h2>
                            <table id="customers">
                            <tbody>
                            <tr>
                            <td colspan="2" width="601">&nbsp;Game Information
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Software: Microgaming
                            <br>
                            </td>
                            <td width="301">Maximum Coins: 200
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Reels: 5 x 3
                            <br>
                            </td>
                            <td width="301">Maximum Bet: 100.00
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Paylines: 20
                            <br>
                            </td>
                            <td width="301">Minimum Bet: 0.01
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Multipliers: Yes
                            <br>
                            </td>
                            <td width="301">Player Lever: Beginner, Intermediate, Expert
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Wild Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Progressive: No
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Maximum Jackpot: 30 000 Coins in the Base Game
                            <br>
                            </td>
                            <td width="301">Free Spins: Yes
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td width="301">Scatter Symbol: Yes
                            <br>
                            </td>
                            <td width="301">Number of Free Spins: 12
                            <br>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <h2>&nbsp;</h2>
                            <h2>Avalon Slot Bonus Features</h2>
                            <p>Avalon contains several slot bonuses that will help you win some generous rewards. There free spins with a bonus wild symbol. There is also a gamble feature where you can try multiply your winnings</p>
                            <h3>Free Spins Bonus</h3>
                            <p>Land 3, 4, or 5 Lady of the Lake scatter icons anywhere on the reels to activate 12 free spins. All winning combinations during the free spins round will come with a mystery multiplier worth up to 7 times your bet. During the free spins rounds, you will
                            also get an additional wild symbol &ndash; the treasure chest wild. You can retrigger the free spins rounds. The treasure chest will be able to substitute for all other symbols, except the scatter.</p>
                            <h3>Gamble Feature</h3>
                            <p>With any combination, you will be able to take part in the gamble feature. To activate the game round, after any win, you can press the gamble button. During this feature, you will be presented with cards face-down. If you choose the correct suit, your
                            win will be multiplied by four times. If you choose the correct card colour, the win will be multiplied by two. However, if you guess incorrectly, then you will lose your winnings.</p>
                            <h2>Symbols of the Avalon Slot Machine</h2>
                            <p>Avalon is well crafted with royal blue and gold colours. Each symbol is carefully designed with elegamnce to fit the game&#39;s theme. The high ranking symbols are made up of the Avalon Castle, Treasure Chest,Lady of the Lake, Emerald,Shield, and the
                            Grail Cup. These are accomapnied by your classic low paying icons of 10, J, Q, K, A.</p>
                            <p><img src="https://imgix.cosmicjs.com/b2db2b90-2395-11ec-a33b-09138673c894-763x421-avalon-symbols.png" alt="Avalon - High Paying Symbols" title="Avalon - High Paying Symbols" width="763" height="421" class="aligncenter size-full wp-image-4134 fr-fic fr-dii"></p>
                            <h3>Avalon Castle</h3>
                            <p><img src="https://imgix.cosmicjs.com/b244df00-2395-11ec-a33b-09138673c894-100x100-avalon-castle-wild.png" alt="Avalon Castle" title="Avalon Castle" width="100" height="100" class="alignleft size-full wp-image-4131 fr-fic fr-dii fr-fir">The Avalon symbol
                            is your wild icon in the game. It has the ability to replace all other icons on the reels with the exception of the scatter.</p>
                            <h3 style="margin-top: 50px;">Treasure Chest&nbsp;</h3>
                            <p><img src="https://imgix.cosmicjs.com/b2a7bf80-2395-11ec-a33b-09138673c894-100x100-treasure-chest-wild.png" alt="Treasure Chest" title="Treasure Chest" width="100" height="100" class="alignleft size-full wp-image-4133 fr-fic fr-dii fr-fir">The treasure
                            chest bonus wild icon is only available during the free spins round. It can substitute all other symbols on the reels, except the scatter to help form winning combinations.</p>
                            <h3 style="margin-top: 50px;">Lady of the Lake</h3>
                            <p><img src="https://imgix.cosmicjs.com/b2767650-2395-11ec-a33b-09138673c894-100x100-lake-of-the-lake-scatter.png" alt="Lady of the Lake" title="Lady of the Lake" width="100" height="100" class="alignleft size-full wp-image-4132 fr-fic fr-dii fr-fir">Lady
                            of the Lake is your free spins activation key. Landing three, four, or five of these symbols anywhere on the reels will activate the free spins feature. You will receive 12 free spins, which can be reactivated during the feature.</p>
                            <h2>Avalon Slot Review Verdict</h2>
                            <p>Immerse yourself in a thrilling and epic adventure steeped in the magic and mystery of ancient Celtic lore. Explore its rich mythology and encounter some of its most romantic characters: that beautiful and mysterious naiad, The Lady of the Lake, the brave,
                            audacious King Arthur of Camelot, and a host of knights and fierce, beautiful warrior maidens brandishing their paladin swords to the serenades of the Banshee&rsquo;s song. Play Avalon online for real money at the <a href="/microgaming">best Microgaming online casinos</a>!</p>
                            <h2>Best Microgaming Slots</h2>
                            <ul>
                            <li><a href="/microgaming/adventure-palace">Adventure Palace</a></li>
                            <li><a href="/microgaming/agent-jane-blonde">Agent Jane Blonde</a></li>
                            <li><a href="/microgaming/age-of-discovery">Age of Discovery</a></li>
                            <li><a href="/microgaming/alaskan-fishing">Alaskan Fishing</a></li>
                            <li><a href="/microgaming/alley-cats">Alley Cats</a></li>
                            <li><a href="/microgaming/arctic-fortune">Arctic Fortune</a></li>
                            <li><a href="/microgaming/ariana">Ariana</a></li>
                            <li><a href="/microgaming/asian-beauty">Asian Beauty</a></li>
                            <li><a href="/microgaming/bars-and-stripes">Bars and Stripes</a></li>
                            <li><a href="/microgaming/beach-babes">Beach Babes</a></li>
                            <li><a href="/microgaming/bearly-fishing">Bearly Fishing</a></li>
                            <li><a href="/microgaming/bomber-girls">Bomber Girls</a></li>
                            <li><a href="/microgaming/boogie-monsters">Boogie Monsters</a></li>
                            <li><a href="/microgaming/break-da-bank-again">Break da Bank Again</a></li>
                            <li><a href="/microgaming/buffet-bonanza">Buffet Bonanza</a></li>
                            <li><a href="/microgaming/bush-telegraph">Bush Telegraph</a></li>
                            <li><a href="/microgaming/cabin-fever">Cabin Fever</a></li>
                            <li><a href="/microgaming/captain-cash">Captain Cash</a></li>
                            <li><a href="/microgaming/doctor-love">Doctor Love</a></li>
                            <li><a href="/microgaming/exotic-cats">Exotic Cats</a></li>
                            <li><a href="/microgaming/fat-lady-sings">Fat Lady Sings</a></li>
                            <li><a href="/microgaming/fortunium">Fortunium</a></li>
                            <li><a href="/microgaming/mega-moolah">Mega Moolah</a></li>
                            <li><a href="/microgaming/playboy-gold">Playboy Gold</a></li>
                            <li><a href="/microgaming/rainbrew">Rainbrew</a></li>
                            <li><a href="/microgaming/wild-scarabs">Wild Scarabs</a></li>
                            </ul>

                        
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

