<title>Sand Princess Review – Play sand-princess at American Microgaming casinos</title>
<meta name="description" content="sand-princess slot review. Battle it out with the kings of the beasts as these big boys leap from the reels. Another epic US slot game from Microgaming."> 
<meta name="keywords" content="Sand princess slot review"> 
<meta name="robots" content="Index,follow" />



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-review">
                        <h1>Sand Princess Online Slot Review</h1>
                        <p>Sand Princess is a hot Microgaming 5-reel online slot with 30 paylines on the reels waiting to pay you out. Sand Princess is set in the Arabian desert. The online slot includes scorching hot payout potential for online casino players. This online casino
                            game is well-known for its variety of bonus games. Players can trigger from the base game. Find out all the ways you can win with this online slot with this unbiased and honest online slot review. The heat is on, and it&rsquo;s up to you to claim your
                            real money cash prize, here&rsquo;s your chance.</p>
                            <h2>Sand Princess Gameplay</h2>
                            <p>This online slot game makes use of many eye-catching symbols. Some are higher-paying than others and will create a sandstorm of cash for your bankroll. However, there are lower-paying symbols that every seasoned online slot player will recognise. The
                            lower-payout symbols are the J, Q, K and A. The high-value symbols are the bearded prince, white stallion, eagle, palace, green potion, and chest. Some of these symbols also special functions for online casino players.</p>
                            <h2>Sand Princess Bonus Features</h2>
                            <h3>Wild symbol</h3>
                            <p>One of the most rewarding symbols that can land on the reels is a wild. The fully stacked sand princess represents the . When players stack this wild on reel 3, they will receive one of the following.</p>
                            <ul>
                            <li><strong>Multiplier:&nbsp;</strong>Any wins will earn either a 2x, 3x or 4x multiplier.</li>
                            <li><strong>Random wilds:&nbsp;</strong>A selection of random symbols become wild symbols.</li>
                            <li><strong>Wild reel:&nbsp;</strong>One reel from the first, second, fourth or fifth, turns completely wild.</li>
                            <li><strong>Royal reward:&nbsp;</strong>This is a random prize amount won.</li>
                            </ul>
                            <h3>Scatter symbol</h3>
                            <p>Free spins games are triggered by landing three scatter symbols on reels two, three an and four. Once you trigger the free spins, you&rsquo;ll have these four options to choose from below.</p>
                            <ul>
                            <li><strong>Random multiplier:&nbsp;</strong>Awards players with ten free spins and a multiplier of either 2x, 3x or 4x applied to whatever you win during the bonus round.</li>
                            <li><strong>Wild reels:&nbsp;</strong>Awards players with ten free spins. If reel 3 are entirely wild, a second complementary reel will turn wild.</li>
                            <li><strong>Random wilds:</strong> Players receive ten free spins with random wilds added.</li>
                            <li><strong>All features:</strong> Players receive ten free spins plus one of the above features active on each spin.</li>
                            </ul>
                            <h2>Final Thoughts on the Game</h2>
                            <p>This online slot machine has the potential to make online casino players very rich. Players can win up to 60,000 coins during the free spins bonus round. Sand princess slot game is one not to miss. Sand Princess offers superbly crafted graphics for fantastic
                            gameplay.</p>
                            <table id="customers">
                            <tbody>
                            <tr>
                            <td>Game Information
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td>Software: Microgaming
                            <br>
                            </td>
                            <td>Maximum Coins: 30
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td>Reels: 5
                            <br>
                            </td>
                            <td>Maximum Coin Size: 3,000
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td>Paylines: 30
                            <br>
                            </td>
                            <td>Minimum Coin Size: 0.30
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td>Multiplier Symbol: Yes
                            <br>
                            </td>
                            <td>Player Level: Beginner, Intermediate, Expert
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td>Wild Symbol: Yes
                            <br>
                            </td>
                            <td>Progressive: No
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td>Maximum Jackpot: 60,000 Coins
                            <br>
                            </td>
                            <td>Free Spins: Yes
                            <br>
                            </td>
                            </tr>
                            <tr>
                            <td>Scatter Symbol: Yes
                            <br>
                            </td>
                            <td>Number of Free Spins: 10
                            <br>
                            </td>
                            </tr>
                            </tbody>
                            </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

