.bg-white {
    background: #fff !important;}
  
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1268px !important;
}



a {
    color: #35adc5 !important;
    text-decoration: underline;
}

img.fr-fic.fr-dib {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

img.fr-fic.fr-dii{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.main-review ul {
    padding: 0px 0px 0px 7px !important;
}
img.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.main-review li:before {
    content: "\2713";
    color: green;
    padding: 0px 8px 0px 0px;
}

.main-review li {
    list-style-type: none;
}

.center-image img {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

footer.footer {
    margin-top: 28px;
}

.geo-regular a {
    color: #a3252c !important;
}
.container {
    margin-top: -9px !important;
}
body {
    background: #f0f0f0 !important;
}

.col-sm-8 {
    background: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #ff2ea6  !important;
}

.col-sm-4 {
    background: #fff;}

a.image-logo img {
    width: 50%;
}
div#sidebar li {
    border-bottom: 1px dotted #e3e3e3;
}

.main-home-table {
    border: 1px solid #f0f0f0;
    padding: 11px;
    border-radius: 5px;
    background: #fffcfc;
}


ul.navbar-nav.mx-auto li {
    padding: 0 0 0 0;
}

.col-sm-4 {
    float: right;
    width: 27% !important;
}

.h2, h2 {
    font-size: 25px !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
    font-weight: bold;
}



  .p-4 {
    padding: 0px 0px 0px 0px !important;
}
h1 {
    font-size: 31px !important;
}

.h3, h3 {
    font-size: 21px !important;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

  }

  .megamenu {
    position: static;
  }
  
  .megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSES
  * ==========================================
  *
  */


  
  .APP  {
    background: #eaafc8;
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
    min-height: 0px;
  }
  div#navbarSupportedContent li {
    list-style: none;
}
  
  code {
    color: #745eb1;
    background: #fff;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
  }
  
  .text-uppercase {
    letter-spacing: 0.08em;
  }

//   .bg-white {
//     border-bottom: 3px solid #438fa0;
// }

  .py-3 {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}


  img.left-image {
    float: left;
    padding: 7px 24px 0px 0px;
}
ol li {
    padding: 0 0 7px;
    color: #737373;
    
}

ol li b {
    color: #737373;
    
}

details[open] {
    height: auto;
    padding: .75em;
	border-bottom: 1px solid #d4d4d4;
}

details[open] summary {
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 10px;
}


ul li {
    color: #737373;}
    
.grid-icon-row img {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#content p {
    color: #737373 ;
}

  button#buttonshowhide {
    background: #a3252c;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #a3252c;
    ;
    margin-top: 9px;
    border-radius: 4px;
    height: 35px;
}

footer.footer ul {
    display: inline-flex;
    /* margin-right: 9px; */
}

div#sidebar a {
    color: #be1622 !important;
}

footer.footer li {
    margin-right: 60px;
}

ul li {
    padding: 1px 3px 12px 2px;
    list-style: circle;
}

// h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
//     font-family: sans-serif;}

ul.bullet_styling li {
    border-bottom: 1px solid #e9e9e9;
    list-style: none;
    padding: 8px 0 15px 40px;
    margin: 0;
    color: #888;
    position: relative;
}
ul.bullet_styling li:before {
    // content: url(/wp-content/uploads/2022/04/bullet-blog.png);
    position: absolute;
    left: 0;
    top: 12px;
}

.ColButtons {
    display: inline-grid;
    padding: 10px;
}

.buttons {
    background-color: #b12134;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: .3s;
    font-size: 15px;
    line-height: normal;
    width: 184px;
    text-align: center;
}

div#product-details .col-sm-8.col-sm-push-4 {
    width: 66%;
}

.footer-main-container {
    border-top: 4px solid #a32539;
}

.sec-column-img {
    font-style: italic;
    font-weight: bold;
}

.sec-column-img li {
    list-style: none;
    margin-top: 9px;
    font-size: 25px;
    /* color: red !important; */
}

.first-column-img {
    margin-right: 170px;
}

.footer-main-container-img {
    display: flex;
}

.footer-main-container {
    background: #368a97;
}

.footer-main-container ul {
    margin-right: 265px;
}

.grid-icon-row .card {
    width: 182px !important;
}


aside#ezw_tco-3 .h1 {
    display: flex !important;
}


.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 14px;
}

#wrapper, .wrapped {
    width: 1436px;
}

.container {
    width: 1407px;
}


.col-sm-8 {
    width: 98.666667% !important;
}
.col-sm-4 {
    border: 1px solid #f9eeef;
}
















.col-sm-8 {

    margin-top: 16px !important;
}

h1.product-title {
    margin-top: 1px !important;
}
.single-product .product-title {
    margin: 0 0 -8px 0px;
}

.introduction {
    border-left: 4px solid #368a97;
}

/* table css */
.geo-one-table:nth-child(2n+2) {
    background-color: #fbf8f8;
}
div.geo-one-table:first-child .geo-button-play,
div.geo-one-table:first-child .geo-button-play:link,
div.geo-one-table:first-child .geo-button-play:visited {
    font-weight: 800 !important;
}

.geo-button-play,
.geo-button-play:link,
.geo-button-play:visited {
    font-weight: 800;
}

.geo-col-sm-5th-first div {
    color: #b22134;
    font-size: 40px !important;
}

.geo-button-play,
.geo-button-play:link,
.geo-button-play:visited {
    font-weight: 800 !important;
}

span.geo-bonus-1 {
    color: #b22134 !important;
    font-weight: 600 !important;
    margin-left: 0% !important;
}

.smaller-screen.smaller-screen-show.geo-bonus-line span {
    color: #00296b;
}
button.btn-1.button.big-btn.collapsed {
    background: #fff;
    border-radius: 5%;
    border: 2px solid #b22134;
    color: #b22134;
    line-height: 34px;
}
div.geo-one-table:first-child .geo-button-play,
div.geo-one-table:first-child .geo-button-play:link,
div.geo-one-table:first-child .geo-button-play:visited {
    background: #b22134;
    color: #fff !important;
    border-color: #b22134;
}

.geo-button-play,
.geo-button-play:link,
.geo-button-play:visited {
    color: #b22134;
}

footer.footer {
    line-height: 5;
    background: white;
}

.geo-one-table {
    border-top: 1px solid #e3e3e3 !important;
}

   div.geo-one-table:first-child .geo-button-play,
    div.geo-one-table:first-child .geo-button-play:link,
    div.geo-one-table:first-child .geo-button-play:visited {
        background: #00296b;
        color: #fff !important;
        border-color: #00296b;
    }
    p.geo-bonus-1 {
        margin-left: 38px !important;
    }
    .geo-col-sm-5th.geo-col-4.geo-text-center.geo-payout p {
        margin-left: 38px !important;
    }
    #content p {
        color: #737373;
    }
    .geo-row > .geo-col-6:not(.geo-clear) {
        padding: 26px 0px 0px 10px;
        flex-basis: 155px;
    }
    .geo-bottom-featured-picture {
        max-width: 100%;
    }
    div.geo-one-table:first-child .geo-col-sm-5th-first > div {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 1px #00296b;
        color: #b22134;
    }
    div.geo-one-table:first-child {
        padding-top: 0px;
        padding-bottom: 0px;
    }

div.geo-one-table:first-child .geo-button-play,
div.geo-one-table:first-child .geo-button-play:link,
div.geo-one-table:first-child .geo-button-play:visited {
    background: #c8ad51;
    color: #fff !important;
    border-color: #c8ad51;
}
    .geo-regular {
        border-left: 0px solid #21232b;
        border-right: 0px solid #21232b;
    }

    .geo-col-3 p,
    div.geo-one-table:first-child .geo-bonus-1 {
        font-size: 15px;
    }
    .geo-one-table:hover,
    div.geo-one-table:first-child:hover {
        border: 1px solid #1e73be;
    }
    .geo-read-review:link,
    .geo-read-review:visited,
    div.geo-one-table .geo-read-review:link,
    div.geo-one-table .geo-read-review:visited,
    div.geo-one-table:first-child .geo-read-review:link,
    div.geo-one-table:first-child .geo-read-review:visited {
        color: #1e73be;
        display: block;
        font-size: 14px;
        padding: 2px 0 0;
        text-align: center;
        text-decoration: none;
    }
    .geo-col-3,
    .geo-col-4,
    div.geo-one-table:first-child .geo-col-3,
    div.geo-one-table:first-child .geo-col-4 {
        border-left: 1px solid #e3e3e3;
    }
    .geo-row > div.geo-col-3 > div,
    .geo-row > div.geo-col-4 > div {
        border-right: 0px solid rgba(23, 50, 77, 0.2);
    }
    div.geo-one-table {
        padding: 0px 0px 0px 0px;
    }
    .geo-col-1 {
        background-color: #f5f3f3;
    }

@media only screen and (min-device-width: 366px) and (max-device-width: 882px) {
    .geo-bonus-line {
        padding-top: 10px;
    }
}
@media screen and (device-width: 360px) and (device-height: 640px) {
    .geo-bonus-line {
        padding-top: 10px;
    }
}
@media only screen and (min-device-width: 411px) and (max-device-width: 731px) {
    .geo-bonus-line {
        padding-top: 10px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .navbar-light .navbar-toggler {
        color: #0000008c;
        border-color: #0000001a;
        margin-left: auto;
        margin-top: -30px;
    }

    footer.footer li {
        margin-right: 0px;
    }
    
    footer.footer ul {
        display: block;
    }
    
    footer.footer li {
        height: auto;
        line-height: 30px;
    }

    app-nav .container {
        margin: 0px 0px 0px -12px !important;
        width: 106% !important;
    }
    
    .col-sm-4 {
        display: none;
    }
    .geo-bonus-line {
        padding-top: 10px;
    }

    .smaller-screen.smaller-screen-show.geo-bonus-line .geo-bonus-1,
    .smaller-screen.smaller-screen-show.geo-bonus-line .geo-bonus-3 {
        font-size: 14px !important;
    }

    div.geo-one-table,
    div.geo-one-table:first-child {
        padding: 0px 0px !important;
    }

.container {
    width: 100% !important;
}#wrapper, .wrapped {
    width: 100% !important;
}
	
.grid-icon-row {
    display: block !important;}

.grid-icon-row .first_row, .grid-icon-row .second_row {
    width: 100% !important;}	
.grid-icon-row .card {
    width: 100%!important;
}
	
	.half_box {
    width: 100% !important;}

	td.claim-now {
    width: 100% !important;
}
	.footer-main-container-img {
    display: block;
}

.first-column-img img {
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.footer-main-container ul {
    margin-right: 2px;
}
	.first-column-img {
    margin-right: 0px;
}
	
}


@media screen and (device-width: 360px) and (device-height: 740px) {
    .geo-bonus-line {
        padding-top: 10px;
    }
}
@media screen and (device-width: 375px) and (device-height: 667px) {
    .geo-bonus-line {
        padding-top: 10px;
    }
}
@media screen and (device-width: 375px) and (device-height: 812px) {
    .geo-bonus-line {
        padding-top: 10px;
    }
}
@media all {
    @media print {
        *,
        :after,
        :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }
    }
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    :after,
    :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    @media all {
        a {
            background-color: transparent;
        }
        a:active,
        a:hover {
            outline: 0;
        }
        img {
            border: 0;
        }
        @media print {
            *,
            :after,
            :before {
                color: #000 !important;
                text-shadow: none !important;
                background: 0 0 !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
            }
            a,
            a:visited {
                text-decoration: underline;
            }
            a[href]:after {
                content: " (" attr(href) ")";
            }
            img {
                page-break-inside: avoid;
            }
            img {
                max-width: 100% !important;
            }
            p {
                orphans: 3;
                widows: 3;
            }
        }
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        :after,
        :before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        a {
            color: #337ab7;
            text-decoration: none;
        }
        a:focus,
        a:hover {
            color: #23527c;
            text-decoration: underline;
        }
        a:focus {
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }
        img {
            vertical-align: middle;
        }
        p {
            margin: 0 0 10px;
        }
        ::selection {
            text-shadow: none;
        }
        ::-moz-selection {
            text-shadow: none;
        }
        p.empty,
        p:empty {
            display: none;
        }
        a {
            color: #c01313;
        }
        a:hover,
        a:focus {
            color: #c62a2a;
        }
        ::selection {
            background: #c01313;
            color: #fff;
        }
        ::-moz-selection {
            background: #c01313;
            color: #fff;
        }
        span,
        p {
            text-align: justify !important;
            color: #000;
            line-height: 1.6;
        }
        @media all {
            div.geo-one-table {
                background: #17324d;
                border: 1px solid rgba(28, 111, 184, 0.3);
                border-bottom: 1px solid rgba(28, 111, 184, 0.3);
                opacity: 1;
                -webkit-transition: 0.35s;
                transition: 0.35s;
            }
            div.geo-one-table:first-child {
                background: #fff;
            }
            div.geo-one-table:first-child .geo-regular .geo-col-sm-5th-first.geo-col-1.geo-text-center {
                height: 52px;
                position: relative;
            }
            div.geo-one-table p {
                margin-bottom: 0;
            }
            div.geo-one-table:hover {
                background: #103e70;
                cursor: pointer;
            }
            div.geo-one-table:first-child:hover {
                background: #ffe570;
            }
            .geo-button-play {
                font-size: 16px;
                min-width: 100px;
                text-decoration: none;
                white-space: nowrap;
            }
            .geo-one-table:hover .geo-button-play,
            .geo-button-play:hover {
                background: #940a21;
            }
            .geo-row {
                -webkit-align-items: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                clear: both;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                margin: 0;
            }
            .geo-row > div:not(.geo-clear) {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-flex-basis: 90px;
                -ms-flex-preferred-size: 90px;
                flex-basis: 90px;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                -webkit-flex-shrink: 1;
                -ms-flex-negative: 1;
                flex-shrink: 1;
                float: left;
                padding: 0 1px 0 0;
            }
            .geo-one-tab {
                border: 1px solid rgba(28, 111, 184, 0.3);
                display: none;
            }
            .geo-one-tab.geo-active {
                display: block;
            }
            .geo-img-responsive {
                height: auto;
                max-width: 100%;
            }
            .geo-clear {
                clear: both;
            }
            .geo-regular {
                padding: 10px;
            }
            .geo-one-table:first-child {
                border-bottom: 1px solid rgba(28, 111, 184, 0.3);
            }
            .geo-one-table:first-child .geo-regular {
                border-bottom: 1px solid rgba(28, 111, 184, 0.3);
            }
            .geo-button-play,
            .geo-button-play:link,
            .geo-button-play:visited,
            .geo-button-play:hover,
            .geo-button-play:active {
                background: green;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                color: #fff;
                display: block;
                padding: 5px 10px;
                text-align: center;
                -webkit-transition: 0.35s;
                transition: 0.35s;
            }
            .geo-button-play:hover {
                background: #940a21;
                color: #fff;
                text-decoration: none;
            }
            .geo-text-center {
                text-align: center;
            }
            .geo-col-sm-5th-first,
            .geo-col-sm-5th {
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                padding: 0 4px 0 3px;
            }
            .geo-col-sm-5th-first {
                color: #2081c7;
                font-size: 36px;
                position: relative;
                width: 50px;
            }
            div.geo-one-table:first-child .geo-col-sm-5th-first {
                color: #17324d;
            }
            .geo-col-sm-5th-first span {
                font-size: 18px;
                position: relative;
                top: -6px;
            }
            .geo-payout {
                color: #fff;
                font-size: 14px;
            }
            div.geo-one-table:first-child .geo-payout {
                color: #17324d;
            }
            .geo-payout p:first-child {
                font-size: 16px;
                font-weight: 700;
            }
            .geo-read-review:link,
            .geo-read-review:visited {
                color: #fff;
                font-size: 12px;
                text-decoration: none;
            }
            div.geo-one-table:first-child .geo-read-review:link,
            div.geo-one-table:first-child .geo-read-review:visited {
                color: #17324d;
            }
            .geo-regular .geo-read-review:hover {
                color: #fff;
                text-decoration: underline;
            }
            .geo-bonus-1 {
                color: #fff;
                font-size: 16px;
                font-weight: 700;
            }
            div.geo-one-table:first-child .geo-bonus-1 {
                color: #17324d;
            }
            .geo-bonus-2 {
                color: #fff;
                font-size: 14px;
            }
            div.geo-one-table:first-child .geo-bonus-2 {
                color: #17324d;
            }
            .smaller-screen {
                display: none;
            }
            .geo-bonus-3 {
                color: #fff;
                font-size: 14px;
            }
            div.geo-one-table:first-child .geo-bonus-3 {
                color: #17324d;
            }
            .geo-payout p:last-child {
                text-transform: capitalize;
            }
            .geo-row > div.geo-col-1 {
                -webkit-flex-basis: 50px;
                -ms-flex-preferred-size: 50px;
                flex-basis: 50px;
                -webkit-flex-grow: 0;
                -ms-flex-positive: 0;
                flex-grow: 0;
                -webkit-flex-shrink: 0;
                -ms-flex-negative: 0;
                flex-shrink: 0;
            }
            .geo-row > div.geo-col-2 {
                -webkit-flex-basis: 150px;
                -ms-flex-preferred-size: 150px;
                flex-basis: 150px;
                -webkit-flex-grow: 2;
                -ms-flex-positive: 2;
                flex-grow: 2;
            }
            .geo-row > div.geo-col-3 > div,
            .geo-row > div.geo-col-4 > div {
                padding-left: 3px;
                padding-right: 3px;
            }
            .geo-row > div.geo-col-6 {
                -webkit-flex-basis: 130px;
                -ms-flex-preferred-size: 130px;
                flex-basis: 130px;
                -webkit-flex-grow: 0;
                -ms-flex-positive: 0;
                flex-grow: 0;
                -webkit-flex-shrink: 1;
                -ms-flex-negative: 1;
                flex-shrink: 1;
                padding-right: 5px;
            }
            .geo-bottom-featured-picture {
                max-height: 65px;
                padding: 0 5px;
            }
            .geo-col-2,
            .geo-col-3,
            .geo-col-4 {
                border-right: 1px solid rgba(255, 255, 255, 0.25);
            }
            div.geo-one-table:first-child .geo-col-2,
            div.geo-one-table:first-child .geo-col-3,
            div.geo-one-table:first-child .geo-col-4 {
                border-right: 1px solid rgba(23, 50, 77, 0.2);
            }
            .geo-bonus-1,
            .geo-bonus-2,
            .geo-bonus-3,
            .geo-payout p:first-child,
            .geo-button-play {
                text-transform: uppercase;
            }
            .geo-button-play:focus {
                color: #fff;
                text-decoration: none;
            }
            .geo-only-small-screen {
                display: none;
            }
            @media all and (max-width: 1200px) {
                .geo-button-play {
                    font-size: 14px;
                }
            }
            @media all and (max-width: 674px) {
                .geo-one-table:first-child {
                    border-bottom: 0;
                }
                .geo-one-table:first-child .geo-regular {
                    border-bottom: 1px solid rgba(28, 111, 184, 0.3);
                }
            }
            @media all and (max-width: 589px) {
                .geo-regular .geo-payout {
                    display: none;
                }
            }
            @media all and (max-width: 558px) {
                .geo-col-4 {
                    display: none;
                }
            }
            @media all and (max-width: 504px) {
                .geo-one-table {
                    border-bottom: 1px solid rgba(28, 111, 184, 0.3);
                }
                .geo-one-table:first-child .geo-regular {
                    border-bottom: 1px solid rgba(28, 111, 184, 0.3);
                }
                div.geo-one-table .geo-col-2,
                div.geo-one-table .geo-col-3,
                div.geo-one-table .geo-col-4,
                div.geo-one-table:first-child .geo-col-2,
                div.geo-one-table:first-child .geo-col-3,
                div.geo-one-table:first-child .geo-col-4 {
                    border-right: 0;
                }
                .smaller-screen-show {
                    display: block;
                }
                .geo-col-3 {
                    display: none;
                }
                .geo-only-small-screen {
                    color: #fff;
                    display: inline-block;
                }
                div.geo-one-table:first-child .geo-only-small-screen {
                    color: #17324d;
                }
                .geo-bonus-line {
                    margin: 9px 0 -3px;
                    text-align: center;
                }
                .geo-bonus-line span {
                    margin: 0 0.05em;
                }
            }
            @media all and (max-width: 435px) {
                .geo-bottom-featured-picture {
                    padding: 0;
                }
                .geo-col-4 {
                    display: none;
                }
                .smaller-screen {
                    display: block;
                }
                .geo-row > div {
                    border-right: 0;
                }
                .geo-regular > div > div:first-child {
                    width: 60px;
                }
                .geo-regular .geo-button-play {
                    font-size: 14px;
                }
                .geo-one-table {
                    border-bottom: 10px solid rgba(28, 111, 184, 0.3);
                }
                .geo-one-tab {
                    border: 0;
                }
            }
            @media all and (max-width: 360px) {
                .geo-bonus-line span {
                    margin: 0 2px;
                }
            }
        }
        @media all {
            a,
            div,
            img,
            p,
            span {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }
            p,
            span {
                line-height: 24px;
            }
            a {
                color: green;
            }
            a {
                cursor: pointer;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
            * {
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-rendering: geometricPrecision;
            }
            .geo-one-tab {
                border: none;
            }
            .geo-regular {
                padding: 0;
            }
            div.geo-one-table p {
                margin: 0;
            }
            div.geo-one-table {
                background: 0 0;
                border: 1px solid transparent;
                border-bottom-color: #a8c1c9;
                padding: 0 20px 0 22px;
            }
            div.geo-one-table:first-child {
                background: 0 0;
                border-bottom: 1px solid #a8c1c9;
            }
            div.geo-one-table:first-child:hover,
            div.geo-one-table:hover {
                background: 0 0;
            }
            .geo-one-table:first-child .geo-regular {
                border-bottom: none;
            }
            .geo-col-3,
            .geo-col-4,
            div.geo-one-table:first-child .geo-col-3,
            div.geo-one-table:first-child .geo-col-4 {
                border-right: 1px solid #e3e3e3;
            }
            .geo-col-sm-5th-first div {
                border-radius: 50%;
                color: #3c4c54;
                font-size: 30px;
                height: 70px;
                line-height: 70px;
                width: 70px;
            }
            .geo-row > div.geo-col-1 {
                flex-basis: 70px;
            }
            .geo-col-1 span {
                display: none;
            }
            div.geo-one-table:first-child .geo-regular .geo-col-sm-5th-first.geo-col-1.geo-text-center {
                height: auto;
            }
            div.geo-one-table:first-child .geo-col-sm-5th-first > div {
                /*                                             background: url(https://www.casinous.com/wp-content/uploads/2020/08/first-icon.png) 50% no-repeat; */
                background-size: contain;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 1px #fcc115;
                color: #fff;
                font-weight: 700;
                font-size: 36px;
            }
            div.geo-one-table:first-child .geo-col-2 {
                border-right: none;
            }
            .geo-row > div.geo-col-2 {
                flex-basis: 60px;
                overflow: hidden;
            }
            .geo-bottom-featured-picture {
                max-height: 70px;
                max-width: 100px;
                padding: 0;
            }
            .geo-col-3 p,
            div.geo-one-table:first-child .geo-bonus-1 {
                color: #606060;
                font-weight: 700;
                font-size: 20px;
                margin: 0;
                padding: 0;
                text-transform: capitalize;
            }
            .geo-row > .geo-col-3:not(.geo-clear) {
                margin: 15px 0;
                flex-basis: 120px;
            }
            .geo-row > .geo-col-3 p:not(.geo-bonus-1) {
                display: none;
            }
            .geo-bonus-1,
            .geo-bonus-2,
            .geo-bonus-3,
            .geo-button-play,
            .geo-payout p:first-child {
                text-transform: capitalize;
            }
            .geo-payout {
                color: #606060;
            }
            .geo-col-4 p {
                font-size: 16px;
                line-height: 20px;
                margin: 0;
                padding: 0;
                text-align: center;
                text-transform: capitalize;
            }
            .geo-payout p:first-child {
                font-weight: 700;
            }
            .geo-row > .geo-col-4:not(.geo-clear) {
                margin: 15px 0;
                flex-basis: 120px;
            }
            div.geo-one-table:first-child {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            div.geo-one-table:first-child .geo-payout {
                color: #606060;
            }
            .geo-payout p:last-child {
                display: none;
            }
            .geo-row > .geo-col-6:not(.geo-clear) {
                padding: 0 0 0 10px;
                flex-basis: 155px;
            }
            .geo-row > .geo-col-6:not(.geo-clear) > div {
                width: 100%;
            }
            div.geo-one-table:first-child .geo-button-play,
            div.geo-one-table:first-child .geo-button-play:link,
            div.geo-one-table:first-child .geo-button-play:visited {
                background: green;
                color: #fff;
                border-color: green;
            }
            div.geo-one-table:first-child .geo-button-play:active,
            div.geo-one-table:first-child .geo-button-play:hover,
            div.geo-one-table:first-child:hover .geo-button-play {
                background-color: #9c392c;
                border-color: #9c392c;
            }
            .geo-button-play,
            .geo-button-play:link,
            .geo-button-play:visited {
                background: 0 0;
                color: green;
                font-weight: 700;
                font-size: 16px;
                min-width: unset;
                padding: 7px 10px;
                text-decoration: none;
                text-transform: capitalize;
                border: 1px solid;
                max-width: 140px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                margin: 0 auto;
            }
            .geo-button-play:active,
            .geo-button-play:hover,
            .geo-one-table:hover .geo-button-play {
                background: 0 0;
                color: #9c392c;
            }
            .geo-read-review:link,
            .geo-read-review:visited,
            div.geo-one-table .geo-read-review:link,
            div.geo-one-table .geo-read-review:visited,
            div.geo-one-table:first-child .geo-read-review:link,
            div.geo-one-table:first-child .geo-read-review:visited {
                color: green;
                display: block;
                font-size: 14px;
                padding: 2px 0 0;
                text-align: center;
                text-decoration: none;
            }
            .geo-read-review:link:hover,
            div.geo-one-table .geo-read-review:link:hover,
            div.geo-one-table:first-child .geo-read-review:link:hover {
                text-decoration: underline;
            }
            @media (min-width: 1024px) {
                .geo-one-table:hover,
                div.geo-one-table:first-child:hover {
                    border: 1px solid green;
                }
                .geo-one-table:hover .geo-col-3 p.geo-bonus-1:first-child,
                .geo-one-table:hover .geo-row .geo-payout,
                .geo-one-table:hover:first-child .geo-payout,
                div.geo-one-table:first-child:hover .geo-col-3 p.geo-bonus-1:first-child,
                div.geo-one-table:first-child:hover .geo-row .geo-payout,
                div.geo-one-table:first-child:hover:first-child .geo-payout {
                    color: #000;
                }
            }
            @media (max-width: 1200px) {
                .geo-row > .geo-col-4:not(.geo-clear),
                div.geo-one-table:first-child .geo-col-4 {
                    border-right: none;
                }
            }
            @media (max-width: 767px) {
                .geo-regular .geo-col-4 {
                    display: none;
                }
            }
            @media (max-width: 600px) {
                .smaller-screen {
                    display: block;
                }
                div.geo-one-table,
                div.geo-one-table:first-child {
                    padding: 4px 10px;
                }
                .geo-col-sm-5th-first div {
                    font-size: 24px;
                }
                .geo-regular .geo-col-4,
                .geo-row > .geo-col-3:not(.geo-clear),
                div.geo-one-table:first-child .geo-col-3 {
                    display: none;
                }
                .geo-row > .geo-col-6:not(.geo-clear),
                .geo-row > div.geo-col-2,
                .geo-row > div.geo-col-6,
                div.geo-one-table:first-child .geo-col-2,
                div.geo-one-table:first-child .geo-col-6 {
                    flex-basis: 50%;
                }
                .geo-row > div.geo-col-1,
                div.geo-one-table:first-child .geo-regular .geo-col-sm-5th-first.geo-col-1.geo-text-center {
                    height: 75px;
                }
                div.geo-one-table:first-child .geo-col-sm-5th-first > div {
                    font-size: 24px;
                    height: 48px;
                    line-height: 48px;
                    width: 48px;
                }
                div.geo-one-table .geo-col-sm-5th-first {
                    flex-basis: 48px;
                    -webkit-box-shadow: 0 1px 0 0 #fff;
                    -moz-box-shadow: 0 1px 0 0 #fff;
                    -ms-box-shadow: 0 1px 0 0 #fff;
                    -o-box-shadow: 0 1px 0 0 #fff;
                    box-shadow: 0 1px 0 0 #fff;
                }
                div.geo-one-table .geo-col-2,
                div.geo-one-table:first-child .geo-col-2 {
                    margin: 9px 0 6px;
                }
                .geo-read-review:link,
                .geo-read-review:visited,
                div.geo-one-table .geo-read-review:link,
                div.geo-one-table .geo-read-review:visited,
                div.geo-one-table:first-child .geo-read-review:link,
                div.geo-one-table:first-child .geo-read-review:visited {
                    font-size: 14px;
                }
                .smaller-screen.smaller-screen-show.geo-bonus-line {
                    border-top: 1px solid #e3e3e3;
                    margin: 0;
                    padding: 2px 0 0 50px;
                    width: calc(100% - 50px);
                }
                .smaller-screen.smaller-screen-show.geo-bonus-line span {
                    color: #606060;
                    display: block;
                    font-size: 18px;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    text-transform: capitalize;
                    width: 50%;
                }
                .smaller-screen.smaller-screen-show.geo-bonus-line .geo-bonus-1,
                .smaller-screen.smaller-screen-show.geo-bonus-line .geo-bonus-3 {
                    font-size: 16px;
                    padding: 3px 0;
                }
                .smaller-screen.smaller-screen-show.geo-bonus-line .geo-bonus-1 {
                    float: left;
                }
                .smaller-screen.smaller-screen-show.geo-bonus-line .geo-bonus-3 {
                    float: right;
                }
                .smaller-screen.smaller-screen-show.geo-bonus-line .geo-bonus-2,
                .smaller-screen.smaller-screen-show.geo-bonus-line .geo-only-small-screen {
                    display: none;
                }
            }
            @media (max-width: 435px) {
                .geo-regular > div > div:first-child {
                    width: 48px;
                }
            }
        }
    }
	
	#breadcrumbs p {
    margin: 0;
    padding: 3px 0 !important;
}
	.container p {
    margin: 0 0px 18px;
}
	div.geo-one-table {
    background: 0 0;
    border: 1px solid transparent;
    border-bottom-color: #a8c1c9;
    padding: 0 0px 0 0px;
}
	div.geo-one-table:first-child .geo-col-sm-5th-first > div {
    /* background: url(https://www.casinous.com/wp-content/uploads/2020/08/first-icon.png) 50% no-repeat; */
    background-size: contain;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%), inset 0 0 0 1px #8b1111;
    color: #40577b;
    font-weight: 700;
    font-size: 36px;
}
	div.geo-one-table:first-child .geo-button-play, div.geo-one-table:first-child .geo-button-play:link, div.geo-one-table:first-child .geo-button-play:visited {
    background: #40577b;
    color: #fff;
    border-color: #40577b;
}
	
	
	
	
/* closed table */
	
	span.breadcrumb_last {
    color: #fff;
}
	.col-sm-8 {
    border: 1px solid #f9eeef;
    box-shadow: 3px 7px 2px 3px #fafafa;
    margin-top: 9px;
}aside#block-8 img {
    margin-right: auto !important;
    margin-left: auto !important;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}
	label.wp-block-search__label {
    display: none;
}#sidebar {
    padding-top: 9px;
    padding-bottom: 30px;
}
	
.introduction {
    border-top: 2px solid #e7c8ca;
    border-bottom: 1px solid #e7c8ca;
}
	.introduction p {
    margin: 0px 74px 10px 7px;
    font-weight: 500;
}
h1 {
    border-bottom: 3px solid #e3e3e3;
}

#sidebar .widget .h1 {
    border-bottom: 3px solid #e3e3e3;
}

img.right-image {
    float: right;
    padding: 0px 0px 0px 14px;
}

	
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: sans-serif;
    text-transform: none;
    color: #4f647a   !important;
    font-weight: 600 !important;
}
	#sidebar .widget .h1 {
    color: black !important;
    font-size: 20px;
    font-weight: 700;
		text-align: center !important;}
	div.geo-one-table:first-child .geo-button-play, div.geo-one-table:first-child .geo-button-play:link, div.geo-one-table:first-child .geo-button-play:visited {
    background: #a3252c;
    color: #fff;
    border-color: #a3252c;
}
	
	div.geo-one-table {
    background: 0 0;
    border: 1px solid #fbf8f8;
    border-bottom-color: #fbf8f8;
    padding: 0 0px 0 0px;
}
	div.geo-one-table:first-child {
    padding-top: 0px;
    padding-bottom: 1px;
}
	p.geo-bonus-1 {
    color: #a3252c !important;
    /* font-size: 20px !important; */
}
	.geo-col-sm-5th-first div {
    border-radius: 50%;
		color: #a3252c;}
	.geo-bottom-featured-picture {
    max-height: 70px;
    max-width: 126px;
    padding: 0;
}
	p.geo-bonus-1 {
    margin-left: 0px !important;
    font-size: 22px !important;
}
	.geo-read-review:link, .geo-read-review:visited, div.geo-one-table .geo-read-review:link, div.geo-one-table .geo-read-review:visited, div.geo-one-table:first-child .geo-read-review:link, div.geo-one-table:first-child .geo-read-review:visited {
    color: #a3252c;
    display: block;
    font-size: 14px;
    padding: 2px 0 0;
    text-align: center;
    text-decoration: none;
}
	.geo-button-play, .geo-button-play:link, .geo-button-play:visited {
    background: 0 0;
		color: #40577b;}
	.geo-col-sm-5th.geo-col-4.geo-text-center.geo-payout p {
    margin-left: 0px !important;
    font-size: 20px;
    color: #368a97 !important;
}
	.geo-button-play, .geo-button-play:link, .geo-button-play:visited {
    background: 0 0;
    color: #40577b;
    font-size: 20px;
    font-weight: 800 !important;
}
	h1 {
    margin-top: -24px !important;
}
	#breadcrumbs {
    background-color: #34485e;
    background-color: #368a97;
}
	aside#block-7 {
    border-bottom: 2px solid #e7c8ca !important;
}
.col-sm-4 {
    margin-top: 15px;
}
nav#navigation {
    border-bottom: 3px solid #e7c8ca;
}
	header#header .col-sm-4 {
    border: 0px solid red !important;
}

header#header .col-sm-8 {
    border: 0px solid red !important;
	box-shadow: 0px 0px 0px 0px;
}
	.navbar.navbar-xcore.navbar-12.navbar-hover {
    background: #fbf8f8 !important;
    border-top: 2px solid #368a97 !important;
    margin-top: -2px !important;
}
	i.fa.fa-lock {
    color: #368a97;
}
	i.fa.fa-line-chart {
    color: #368a97;
}
	i.fa.fa-check {
    color: #368a97;
}
	header#header .col-sm-4 {
    margin-top: -14px;
}header#header .col-sm-8 {
    margin-top: -2px;
}h1 {
    font-size: 222%;
}
	#navigation .navbar .navbar-nav > .current_page_item > a, #navigation .navbar .navbar-nav > .current_page_parent > a, #navigation .navbar .navbar-nav > .current-menu-item > a, #navigation .navbar .navbar-nav > .current-menu-ancestor > a {
    color: #a3252c;
    font-size: 18px !important;
    font-weight: 800;
}
	i.fas.fa-trophy {
    float: left;
    color: #368a97;
    font-size: 24px;
}#sidebar .widget .h1 {
    color: #34485e !important;
    font-size: 20px;
    font-weight: 700;
    text-align: center !important;
}header#header strong {
    color: #a3252c;
}
	span.ez-toc-title {
    color: #344862;
    text-align: center !important;
}
	.introduction {
    background-position: 98%;
    margin-right: 0px;
}
	ul.ez-toc-list.ez-toc-list-level-1 li {
    border-bottom: 1px solid #f5f3f3;
}
/* homepage styling */

@media all {
    .aligncenter {
        clear: both;
    }
    ::selection {
        text-shadow: none;
    }
    ::-moz-selection {
        text-shadow: none;
    }
    .aligncenter {
        display: block;
        margin: 0 auto 10px auto;
    }
    img[class*="wp-image-"] {
        display: block;
        max-width: 100%;
        height: auto;
    }
    p:empty {
        display: none;
    }

    .flex-around-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 40px auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .half_box a {
        text-align: center;
        display: block;
        border: 1px solid #4f647a;
        color: red !important;
        font-weight: bold;
        font-size: 18px;
        font-style: italic;
    }
    .half_box h3 {
        display: block;
        text-align: center;
        text-decoration: underline;
    }

    .half_box {
        width: 48%;
        max-width: 530px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px 0px #ffb219;
        margin: 8px;
    }
    .half_box .icon {
        width: 20%;
        border: 1px solid #eee;
        height: 95px;
        border-radius: 7px;
        display: inline-block;
        min-width: 81px;
        position: relative;
    }
    .half_box .icon img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 64px;
        height: 65px;
    }
    .flex-around-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 40px auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .half_box .content {
        display: inline-block;
        width: 70%;
        vertical-align: top;
        margin-left: 10px;
    }
}

.half_box {
    width: 48%;
    max-width: 530px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #174029;
    margin: 8px;
}
/* ul#atTab {
    display: none;
}
*/
hr { 
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #fff;
}

.nav-tabs+.tab-content {
    border: 1px solid #ffffff;
    border-top: 0;
    padding: 10px;
}

.product-reviews.product-reviews-procentual {
    border: 1px solid #eeeeee;
    padding: 5px 0px 5px 0px;
    /* width: 100%; */
}
/* homepage styling closed */
	
	/* 															 games icons */
															 

@media all {
    .card {
        border-radius: 3px;
        background-color: #fff;
        background-size: cover;
        border: 1px solid #e3e3e3;
        width: 160px;
        min-height: 122px;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        display: -ms-flexbox;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        align-items: center;
        -ms-flex-align: center;
    }
    .card p {
        font-weight: 700;
        font-size: 1rem;
    }
    .card svg {
        fill: #009fae;
        -webkit-transition: fill 175ms;
        -moz-transition: fill 175ms;
        -ms-transition: fill 175ms;
        -o-transition: fill 175ms;
        transition: fill 175ms;
    }
    .card:hover svg {
        fill: #222;
    }
    a .card {
        border-radius: 3px;
        background-color: #fff;
        background-size: cover;
        border: 1px solid #e3e3e3;
        cursor: pointer;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        color: #606060;
    }
    a .card:hover {
        border: 1px solid #a8c1c9;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
        -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    .grid-icon-row {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        display: -ms-flexbox;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        padding: 0 5%;
        margin: 1em -2%;
    }
    .grid-icon-row .first_row,
    .grid-icon-row .second_row {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        display: -ms-flexbox;
        justify-content: space-between;
        box-pack: justify;
        -ms-flex-pack: justify;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        width: 46%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .grid-icon-row .first_row a,
    .grid-icon-row .second_row a {
        color: #222;
        display: inline-block;
        width: 100%;
    }
    .grid-icon-row .card {
        box-sizing: border-box;
        margin-bottom: 22px;
        width: 100%;
    }
    .grid-icon-row .card p:first-child {
        color: #222;
    }
    .grid-icon-row p {
        margin: 16px 0 8px;
    }
    @media (min-width: 1024px) {
        .grid-icon-row {
            padding: 0;
        }
    }
    @media (min-width: 767px) {
        .grid-icon-row {
            display: block;
            margin: 1em 0;
        }
        .grid-icon-row .first_row,
        .grid-icon-row .second_row {
            width: auto;
            padding-left: 0;
            padding-right: 0;
        }
        .grid-icon-row .first_row a,
        .grid-icon-row .second_row a {
            display: inline-block;
            width: auto;
        }
        .grid-icon-row .card {
            margin-bottom: 22px;
            width: 125px;
        }
        .grid-icon-row .second_row .card {
            margin-bottom: 0;
        }
    }
    @media (min-width: 1175px) {
        .grid-icon-row .card {
            width: 145px;
        }
    }
    @media (max-width: 1024px) {
        .free-games .grid-icon-row {
            padding: 0 5%;
        }
    }
}

.card p {
    color: #101820 !important;
    font-size: 16px !important;
}

														.card svg {
    fill: #b33c3c !important;
}
															 
															 
															 @media only screen and (min-device-width : 320px) and (max-device-width : 568px){
                                 .geo-bonus-line{
                                    padding-top:10px;
                                }
     .more-info-cards {
    display: contents;}.more-info-cards .more-info-card {
    width: 100% !important;
}                       }
/* 															 games icons closed */
	
	.card {
    box-shadow: 2px 3px 5px 6px #e3e3e3;
}

.grid-icon-row {
    border: 1px solid #e3e3e3;
    padding: 1.5%;
    background: #fbf8f8;
    border-radius: 2%;
}.grid-icon-row h2 {
    margin-top: 0px;
    text-align: center;
}
	
	.flex-around-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
	.half_box .content {
    width: 94% !important;}
	
	.secured {
    background: #f9f9f9;
    padding: 0px 8px 4px 6px;}
	
	.secured {
    border-left: 4px solid #e7c8ca;
}
	.card:hover {
    background: #d2d6db;
    color: #fff;
}
	
	#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #368a97;
    color: #fff;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

ul.buttonsContainer a {
    color: #fff !important;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}
	div#sidebar .menu a:before {
    content: "✭";
    white-space: pre;
    color: #fba200;
    font-size: 25px;
    margin-right: 12px;
}
	
	#sidebar .widget .h1 {
    border-bottom: 3px solid #e3e3e3;
}
	
aside#block-9 img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
}
	.half_box:hover {
    background: #fbf8f8;
}
	td.claim-now {
    /* background: red; */
    padding: 5px !important;
    display: inline-block;
    background: green;
    color: #fff;
    font-weight: 700;
    text-align: center;
    width: 40%;
    border-radius: 8%;
}
	
	td.claim-now a {
    color: #fff !important;
}
	p.g-casinos {
    display: block;
    text-align: center !important;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 17px;
}
	
.container {
    width: 1324px;
}

#wrapper, .wrapped {
    width: 1348px;
}


	.footer-main-container {
    display: flex;
}

#wrapper, .wrapped {
    overflow: hidden;
    width: 100%;
}

	#reviews #comments>h2, #wrapper .fusion-tabs-widget .tab-holder .news-list li .post-holder .meta, #wrapper .meta, .fusion-blog-timeline-layout .fusion-timeline-date, .fusion-main-menu .fusion-custom-menu-item-contents, .fusion-rollover .price .amount, .post .post-content, .post-content blockquote, .project-content .project-info h4, .review blockquote div, .search input, .sidebar .fusion-tabs-widget .tab-holder .tabs li a, .sidebar .jtwt, .sidebar .widget .recentcomments, .sidebar .widget_archive li, .sidebar .widget_categories li, .sidebar .widget_layered_nav li, .sidebar .widget_links li, .sidebar .widget_meta li, .sidebar .widget_nav_menu li, .sidebar .widget_pages li, .sidebar .widget_product_categories li, .sidebar .widget_recent_entries li, .title-row, body, body .sidebar .fusion-tabs-widget .tab-holder .tabs li a {
    color: #747474;
}




details {
    background: #ffffff;
    height: 32px;
    border-bottom: 1px solid #4f647a;
    color: #5b85b6;
}

	
	#footer-bottom {
    background-color: #fff;
    background-color: rgb(251 248 248);
    color: #9fa2a5;
    margin-top: 17px;
    border-bottom: 3px solid #e7c8ca;
    border-top: 2px solid #e7c8ca;
}
	.footer-main-container .first-column {
    border-right: 1px dotted white;
}
.footer-main-container .sec-column {
    border-right: 1px dotted white;
}
	.footer-main-container a {
    color: #fff;
    font-weight: bold;
}
	.footer-main-container li {
    list-style: none;
}
.panel-default>.panel-heading {
    color: #4a8a9d;
    background-color: #fbf8f8;
    border-color: #f0f0f0;
}
	div#footer-bottom p {
    color: #a3252c;
    font-style: italic;
    font-size: 20px;
}

p.h1 {
    padding-top: 16px;
}
	
	li#menu-item-315 a {
    color: #b5252c;
    font-size: 22px;
    font-style: italic;
    text-decoration-line: underline;
}
	.first-column-img img {
    padding-left: 7px;
    margin-top: 15px;
    margin-bottom: 7px;
}
	
.sec-column-img a {
    color: #34485e;
    font-style: italic;
}

.col-sm-4 li {
    list-style: none;
}

.col-sm-4 a {
    text-decoration: none;
}

div#sidebar ul {
    padding-left: 1rem;
}

#sidebar .widget .h1 {
    height: 45px;}
	
li.sec-col-sign {
    font-size: 20px;
    color: 6f7479;
    text-align: center;
}
	.footer-main-container {
    border-bottom: 4px solid #a32539;
}
	td.claim-now {
    padding: 5px !important;
    display: inline-block;
    background: #a32539;
    color: #368a97 !important;
    font-weight: 700;
    text-align: center;
    width: 100%;
    border-radius: 8%;
}
}

h1 {
    margin-top: 5px !important;
}

.container {
    margin: 0 auto;
}

.col-sm-8 {
    padding: 9px;
}